
.SCSContainer {
    display: flex;
    width: 100%;

    margin: 10px 0;
    
    & .SCSFileArea{
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 5px 5px 5px;
      padding-top: 5px;
  
      & .SCSFile{
        padding: 5px 7px;
        margin: 5px;
        font-size: 13px;
        font-weight: bold;
        background-color: #CFD8DC;
        border-radius: 4px;
        color: #263238;
        user-select: none;
        cursor: pointer;
        text-decoration: none;
      }
    }

    & .bottomBar{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:3px 0;
      font-size: 10px;
      font-weight: bold;
      box-sizing: border-box;
      padding: 0 5px;
      opacity: .5;

      & span{
        margin: 0 3px;

        &.spnBtn{
          cursor: pointer;
        }
      
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      
    }

  & .SCSProfileArea{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    margin:0 8px;
    width: 100%;
    height: 100%;
    border-radius: 250px;

    &>img{
      width: 100%;
      border-radius: 250px;
    }


  }

  & .SCSTextAreaContainer{
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      & .SCSCommentTextArea{
      width: 100%;
      height: 100%;
      display: flex;

      &>div{
        outline: none;
        border-color: transparent;
        background: #fff!important;
        box-sizing: content-box;
        box-shadow: none;
        margin: 0;
        min-height: 20px;
        padding: 0;
        width: 100%;
        resize: none;
        color: #172b4d;
        border-radius: 3px;
        border: 0;
        display: block;
        line-height: 20px;
        transition-property: background-color,border-color,box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        overflow: hidden;
        overflow-wrap: break-word;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
      }
      }

    & .SCSTextArea{
      width: 100%;
      height: 100%;
      display: flex;
      opacity: .7;
      user-select: none;

      & > textarea {
        outline: none;
        border-color: transparent;
        background: #fff!important;
        box-sizing: content-box;
        box-shadow: none;
        margin: 0;
        min-height: 20px;
        padding: 0;
        width: 100%;
        resize: none;
        color: #172b4d;
        border-radius: 3px;
        border: 0;
        display: block;
        line-height: 20px;
        transition-property: background-color,border-color,box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        overflow: hidden;
        overflow-wrap: break-word;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;

      }
    }
    & .SCSToolsArea{
      display: flex;
    }

  }



}