
.profileButton{
	position: absolute;
	right:40px;
}
.profileCard {
	display: flex;
	flex-direction: row;
  & .profileImage {
	  margin-right: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 104px;
    border-radius: 32px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 18px 18px 0px rgba(#2c3f58,0.1);
    -moz-box-shadow: 0px 18px 18px 0px rgba(#2c3f58,0.1);
    box-shadow: 0px 18px 18px 0px rgba(#2c3f58,0.1);
    margin-bottom: 20px;

    & .fileInput {
      cursor: pointer;
      width: 100%;
      background-color: #64646445;
      border-radius: 32px;
      padding: 10px 10px 5px 10px;
      & img {
        width: 100%;
      }
    }

    & .statusCircle {
      position: absolute;
      cursor: pointer;
	  display: flex;
      top: -5px;
      right: -5px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #646464;
      & img {
        width: 100%;
      }
    }

    & .imageContainer {
      overflow: hidden;
      width: 104px;
      height: 104px;
      border-radius: 32px;
      & img {
        width: 100%;
      }
    }

  }

  & .profileHeader {
    & .headerText {
      font-family: "Sofia Pro Bold";
      font-size: calc(2px + 24px);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.17px;
      color: #2c3f58;
      margin-bottom: 6px;
    }

    & .location {
      display: flex;
      font-size: calc(2px + 13px);
      font-weight: lighter;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.24px;
      color: #949494;

      & img {
        height: 18px;
        width: 11px;
        margin-right: 4px;
      }
    }
  }

  & .profileProperties {
    display: flex;
    position: relative;
    justify-content: space-between;

    & .stroke {
      width: 2px;
      background-color: #efefef;
      align-self: center;
      height: 36px;
    }

    & .propertyContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 16px;

      & .property {
        font-family: "Sofia Pro";
        font-size: calc(2px + 15px);
        font-weight: lighter;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.24px;
        color: #000;
        margin-bottom: 4px;
      }

      & .propertyTitle {
        font-size: calc(2px + 11px);
        font-weight: lighter;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.24px;
        color: #949494;
      }
    }
  }
}
