@import "../../helpers/responsiveBreakpointsMixins.scss";

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .popularSearchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    padding: 104px;

    & .popularSearchTitle {
      font-family: "Sofia Pro Bold";
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #2c3f58;

    }

    & .cities {
      width: 50%;
      margin-top: 32px;
      height: fit-content;
      text-align: center;

      @include medium {
        padding: 0;
      }

      & .city {
        border-radius: 12px;
        box-shadow: 0 3px 8px 0 rgba(215, 219, 252, 0.45);
        background-color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 6px 12px;
        margin: 4px;
        width: fit-content;
        max-width: 150px;
        list-style-type: none;
        font-family: "Sofia Pro";
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #2c3f58;

      }
    }

  }

  & .postsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    & .postsTitle {
      font-family: "Sofia Pro Bold";
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #2c3f58;
      margin-bottom: 30px;

      @include large {
        text-align: center;
        width: 500px;
        font-size: calc(2px + 20px);
        margin-bottom: 8px;
      }

      @include medium {
        text-align: center;
        width: 300px;
        font-size: calc(2px + 20px);
        margin-bottom: 8px;
      }
    }

    & .postsSubTitle {
      font-family: "Sofia Pro";
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: #2c3f58;


      @include large {
        text-align: center;
        width: 500px;
        font-size: calc(2px + 20px);
        margin-bottom: 8px;
      }

      @include medium {
        text-align: center;
        width: 300px;
        font-size: calc(2px + 14px);

      }
    }

    & .cards {
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }

    & .discoverBtn {
      margin-bottom: 50px;
    }
  }

  & .companiesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: white;
    width: 100vw;
    padding: 64px;

    & .companiesTitle {
      font-family: "Sofia Pro Bold";
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2c3f58;

      @include medium {
        font-size: calc(2px + 20px);
        text-align: center;
        margin-bottom: 12px;
      }

    }

    & .companiesSubTitle {
      font-family: "Sofia Pro";
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      margin-top: 30px;
      text-align: center;
      color: #2c3f58;

      @include medium {
        font-size: calc(2px + 14px);
        max-width: 480px;
        padding: 0 24px;
        text-align: center
      }
    }

    & .companiesImages {
      display: flex;
      align-items: center;
      width: 60%;
      margin-top: 60px;
      margin-bottom: 60px;

      & .companiesImagesWrapper {
        display: flex;
        align-items: center;
        width: 920px;
        justify-content: space-around;
        position: relative;
        padding: 0 100px;

        & .leftArrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          position: absolute;
          left: 10px;
          height: 48px;
          cursor: pointer;
          background-color: white;
          border-radius: 50%;

          &:hover {
            background-color: rgb(231, 231, 231);
          }

          & img {
            margin-right: 5px;

            width: 40px;
            height: 40px;
          }
        }

        & .rightArrow {
          position: absolute;
          right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;

          &:hover {
            background-color: rgb(231, 231, 231);
          }

          & img {
            margin-left: 5px;
            width: 40px;
            height: 40px;
          }
        }

        & img {
          cursor: pointer;
        }

        @include large {
          flex-direction: column;
          height: 344px;
        }
      }
    }
  }

  & .browseJobsSection {
    position: relative;
    width: 100vw;

    @include large {
      height: 720px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }

    & .jobsTitle {
      font-family: "Sofia Pro Bold";
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: white;
      z-index: 1;
      padding: 150px 0 0 150px;
      width: 60%;
      position: absolute;

      @include large {

        padding: 0
      }

      & .prepareCv {
        display: flex;
        align-items: center;
        font-family: "Sofia Pro";
        font-size: 18px;
        color: white;
        width: fit-content;
        padding: 0 0 6px;
        margin-top: 20px;
        border-bottom: 1px solid white;
        cursor: pointer;
        z-index: 1;
        text-decoration: none;

        &:hover {
          font-size: 20px;
        }
      }
    }


    & img {
      width: 100%;

      @include medium {
        height: 100%;
        width: auto;
      }
    }
  }

  & .howItWorksSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-color: white;
    line-height: 2.2em;
    padding: 60px 0 0;

    & .howItWorksTitle {
      font-family: "Sofia Pro Bold";
      font-size: 34px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #2c3f58;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
    }

    & .howItWorksSubTitle {
      font-family: "Sofia Pro";
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: center;
      color: #2c3f58;
      width: 50%;
    }

    & .divisions {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 60px auto;
      padding: 0 144px;

      @include large {
        padding: 0 36px;

      }

      @include small {
        flex-direction: column;
        align-items: center;
      }

      & .division {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 27%;
        border-radius: 12px;
        margin: 10px;
        padding: 10px;
        box-shadow: 0 -3px 4px 0 rgba(215, 219, 252, 0.55);
        -webkit-box-shadow: 0 -3px 4px 0 rgba(215, 219, 252, 0.55);
        -o-box-shadow: 0 -3px 4px 0 rgba(215, 219, 252, 0.55);
        -moz-box-shadow: 0 -3px 4px 0 rgba(215, 219, 252, 0.55);

        @include small {
          flex-direction: column;
          padding: 24px 0;
          align-items: center;
          width: 60%;
        }

        & .icon {
          width: 60px;
        }

        & .title {
          font-family: "Sofia Pro Bold";
          font-size: calc(2px + 18px);
          color: #2c3f58;
          line-height: 1.5em;
          margin-top: 20px;
          width: 100%;
          text-align: center;

          @include small {
            font-size: 14px;

          }
        }

        & .description {
          font-family: "Sofia Pro";
          font-size: 16px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.86;
          letter-spacing: normal;
          text-align: center;
          color: #2c3f58;
          margin-top: 20px;

          @include small {
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }

  & .internsSaysSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 64px;

    & .internsSaysTitle {
      font-family: "Sofia Pro Bold";
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2c3f58;

      @include medium {
        font-size: calc(2px + 22px);
        text-align: center;
      }
    }

    & .internsSaysSubTitle {
      font-family: "Sofia Pro";
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2c3f58;
      margin-top: 30px;

      @include medium {
        padding: 0 32px;
        text-align: center;
        font-size: calc(2px + 16px);

      }
    }

    & .internsSaysImages {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      height: 297px;

      @include x-large {
        flex-direction: column;
        height: unset;
      }

      & img {
        margin: 10px;
        cursor: pointer;
        height: 297px;

        &:hover {
          -webkit-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.2);
          -moz-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.2);
          box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.2);
        }

        &.shadowed {
          height: 295px;
          border-radius: 3px;
          border: 1px solid #d5d5d5;
          margin-top: 50px;
          -webkit-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.2);
          -moz-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.2);
          box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.2);

          &:hover {
            margin-top: 0;
            margin-bottom: 50px;
          }

          @include x-large {
            border: solid 2px #E8E8E8;
            margin-top: 10px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  & .packagesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: white;
    padding: 64px;

    & .packagesTitle {
      font-family: "Sofia Pro Bold";
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2c3f58;
    }

    & .packagesSubTitle {
      font-family: "Sofia Pro";
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      margin-top: 30px;
      letter-spacing: normal;
      text-align: center;
      color: #2c3f58;
    }

    & .packagesCards {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: relative;

      @include medium {
        flex-direction: column;
      }

      & .moneyGuarenteed {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
        justify-content: center;
        align-items: center;
        height: 18px;
        padding: 0 5px;
        background-color: #1a5aff;
        color: white;
        border-radius: 15px;
        font-size: calc(2px + 6px)
      }

      & .packageCard {
        margin-top: 20px;
        width: 165px;
        padding: 24px 0;
        cursor: pointer;

        & .headerDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & .packageTitle {
            font-family: "Sofia Pro Bold";
            font-size: calc(2px + 16px);
            color: #000;
            margin-bottom: 4px;
          }

          & .packagePrice {
            font-family: "Sofia Pro Bold";
            font-size: calc(2px + 40px);
            color: #000;
          }

          & .packagePaymentDate {
            font-family: "Sofia Pro";
            font-size: calc(2px + 10px);
            color: #868686;
            font-style: italic;
          }
        }

        & .stroke {
          height: 1px;
          background-color: #efefef;
          margin: 20px 0;
        }

        & .descriptionDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & .packageDescription {
            text-align: center;
            font-family: "Sofia Pro";
            font-size: calc(2px + 10px);
            color: #868686;
            margin-bottom: 20px;
            line-height: 2em;
            letter-spacing: 0.1px;
          }
        }
      }
    }
  }
}