@import "../../helpers/responsiveBreakpointsMixins.scss";

.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include large {
    flex-direction: column;
    align-items: center;
  }

  & .tableContainer {
    overflow: auto;
    width: 100%;
    height: 100%;

    & .rowContainer {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      padding: 10px;

      & .avatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(43, 73, 112, 1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(43, 73, 112, 1);
        box-shadow: 0px 0px 6px 0px rgba(43, 73, 112, 1);
        margin-right: 20px;
        overflow: hidden;

        & img {
          width: 100%;
        }
      }

      & .internName {
        font-family: "Sofia Pro Bold";
        text-align: center;
        font-size: calc(2px + 12px);
        color: #2c3f58;
      }
    }
  }

  & .projectsContainer {
  }

  & .numericCardContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: span 2;

    & .numericDataContainer {
      font-family: "Sofia Pro Bold";
      text-align: center;
      font-size: calc(2px + 26px);
      color: #2c3f58;
    }
  }

  & .applicationContainer {
    width: 100%;
  }
}
