.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .tableContainer {

  }

  & .projectsContainer {

  }

  & .numericCardContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: span 2;
    & .numericDataContainer {
      font-family: "Noto Sans Bold";
      text-align: center;
      font-size: 24px;
      color: #2b4970;
    }
  }

  & .chartContainer {

    & .taskCardContainer {
    }

    & .applicationContainer {
    }
  }
}
