.selectWrapper {
  position: relative;
  width: fit-content;
  margin: 8px 0;
  font-family: "Noto Sans";

  &.disabled {
    cursor: not-allowed!important;

    & .inputContainer {
      background: #ddd;
    }

    & > div, label, input {
      cursor: not-allowed!important;
    }
  }

  & label {
    font-family: "Noto Sans Bold";
    font-size: calc(2px + 12px);
    font-weight: 700;
    color: #2b4970;
    letter-spacing: 0.5px;
    padding: 0 1px;
  }

  & .labelDescription {
    font-family: "Noto Sans";
    font-size: calc(2px + 10px);
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0 1px;
    margin: 4px 0 0;
  }

  & .dropDown {
    position: absolute;
    width: calc(100% - 34px);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(0, 0, 0, 0.08);
    margin-top: 8px;
    padding: 14px 16px;
    z-index: 12;
    max-height: 200px;
    overflow: scroll;

    & .searchWrapper {
      position: sticky;
      background: white;
      width: 100%;
      margin-top: -14px;
      top: -14px;
      border-bottom: 1px solid #fbfbfb;
      display: flex;
      flex-direction: row;
      padding: 12px 0 12px;

      & .searchDropDown {
        padding: 0 0 0 8px;
        outline: none;
        border: 0;
        font-size: calc(2px + 12px);
        color: #2b4970;
        width: 100%;

        &::placeholder {
          color: #AFB8C3;
          font-size: calc(2px + 12px);
        }
        &::-moz-placeholder {
          color: #AFB8C3;
          font-size: calc(2px + 12px);
        }
        &::-ms-input-placeholder {
          color: #AFB8C3;
          font-size: calc(2px + 12px);
        }
        &::-webkit-input-placeholder {
          color: #AFB8C3;
          font-size: calc(2px + 11px);
        }
      }
    }


    & li {
      cursor: pointer;
      font-size: calc(2px + 14px);
      list-style: none;
      color: #2b4970;
      border-radius: 4px;
      padding: 6px 8px;

      &:hover {
        background-color: rgba(#ff8104, 0.08);
        color: #ff8104;
      }
      &.selected {
        color: #ff8104;
      }
    }
  }

  & .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #fff;
    border: 1px solid #d6dfea;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 8px 0 0;
    min-width: 234px;
    cursor: pointer;

    & img {
      position: absolute;
      right: 16px;
    }

    &.focus {
      border: 1px solid #2b4970;
    }
    &.full {
      width: 534px;
    }
    &.medium {
      width: 390px;
    }
    &.half {
      width: 234px;
    }
    &.error {
      border: 1px solid red;
      background-color: rgba(red, 0.1);
    }

    & .inputSelf {
      margin: 0;
      padding: 0;
      background: transparent;
      color: #2b4970;
      font-size: calc(2px + 12px);
      width: 100%;
    }

    & .inputPlaceholder {
      margin: 0;
      padding: 1px 0;
      background: transparent;
      color: #AFB8C3;
      font-size: calc(2px + 11px);
      width: 100%;
    }
  }
}
