@import '../../helpers/responsiveBreakpointsMixins.scss';

.myAccountWrapper {

	margin-top:80px;
	margin-bottom:80px;
	&__spacer{
		margin-top:25px;
		margin-bottom: 25px;
	}
	@include large {
      &__mobileMargin{
		  margin-top:40px;
	  }

    }
	@include medium{
		&__photoMargin{
		 margin-bottom:40px;
	 }
	}
	&__profileImage {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 164px;
		height: 164px;
		border-radius: 32px;
		border: 1px solid #eee;
		-webkit-box-shadow: 0px 18px 18px 0px rgba(#2c3f58, 0.1);
		-moz-box-shadow: 0px 18px 18px 0px rgba(#2c3f58, 0.1);
		box-shadow: 0px 18px 18px 0px rgba(#2c3f58, 0.1);
		margin-bottom: 20px;

		&__fileInput {
			cursor: text;
			width: 100%;
			background-color: #64646445;
			border-radius: 32px;
			padding: 10px 10px 5px 10px;
			& img {
				width: 100%;
			}
		}

		&__statusCircle {
			position: absolute;
			cursor: pointer;
			top: -5px;
			right: -5px;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 2px solid #fff;
			background-color: #646464;
			opacity: 1;
			transition: opacity 0.5s ease;
			display: flex;
			& img {
				width: 20px;
				height: 20px;
			}
		}
		&:hover {
			& .statusCircle {
				opacity: 1;
			}
		}
		&__imageContainer {
			overflow: hidden;
			width: 164px;
			height: 164px;
			border-radius: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			& img {
				width: 100%;
			}
		}
	}
	&__internship {
		width: 100%;

		&__margin{
			margin-top:40px;
		}
		@include large {
			&__margin{
    			margin-top:0px;
    		}

	    }
		&__internshipHeader {
			font-family: "Sofia Pro Bold";
			font-size: calc(2px + 18px);
			color: #2c3f58;
			margin-bottom: 10px;
			@include small {
				font-size: calc(2px + 14px);
			}
		}
		&__internshipField {
			display: grid;
			grid-template-columns: 50% 50%;
			font-family: "Sofia Pro";
			font-size: calc(2px + 12px);
			align-items: center;
			@include small {
				font-size: calc(2px + 8px);
			}
			& span {
				color: #646464;
				&.value {
					color: #2c567e;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
			& .bar {
				position: relative;
				width: 100%;
				border-radius: 2px;
				height: 10px;
				background-color: #eeeeee;
				& .duration {
					position: absolute;
					left: 0;
					width: 100%;
					border-radius: 2px;
					height: 10px;
					background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #2c3f58), to(#6588b5));
					background-image: linear-gradient(#2c3f58 10%, #6588b5);
				}
			}
		}

	}
	&__slogan {
		font-family: "Sofia Pro Bold";
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: center;
		color: white;
		font-style: italic;
	}
	&__infoSection {

	}
}
.myAccountWrapperRow {
	display: grid;
	grid-template-columns: 25% 65% 8%;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border-bottom: 1.5px solid rgba(#2c3f58, 0.1);

	@include small {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}

	&__title {
		font-family: "Sofia Pro Bold";
		font-size: calc(2px + 13px);
		color: #2c3f58;
	}
	&__text {
		font-family: "Sofia Pro";
		font-size: calc(2px + 13px);
		width: 100%;
		color: #9b9b9b;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
