.TaskDetail {
  position: relative;

  & .title {
    font-family: "Noto Sans Bold";
    color: #2b4970;
    font-size: 14px;
    text-align: start;
    margin: 0 20px 10px;
  }

  & .label {
    font-family: "Noto Sans";
    background-color: #ff8104;
    color: #fff;
    width: 75px;
    border-radius: 4px;
    font-size: 12px;
    margin: 0 20px 10px;
    text-align: center;
  }

  & .description {
    font-family: "Noto Sans";
    color: #484848;
    font-size: 14px;
    text-align: start;
    margin: 0 20px 10px;
  }

  & .users {
    font-family: "Noto Sans";
    color: #2b4970;
    font-size: 14px;
    text-align: start;
    margin: 0 20px 10px;

    & span {
      color: #484848;
    }

    & .userImage {
      position: absolute;
      right: 30px;
      border-radius: 50%;
      border: 1px solid #2b4970;
      width: 30px;
      height: 30px;
      overflow: hidden;
      top: 0;

      & img {
        width: 100%;
      }
    }
  }

  & .status {
    font-family: "Noto Sans";
    color: #2b4970;
    font-size: 10px;
    margin: 0 20px 10px;
    & span {
      color: #646464;
    }
  }

  & .deadline {
    font-family: "Noto Sans";
    position: absolute;
    bottom: -75px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: #fff;
    width: 72px;
    padding: 2px 5px;
    background-color: #ff0000;
    border-radius: 4px;
    font-size: 10px;
    margin: 0 20px 10px;
    text-align: center;

    & img {
      width: 14px;
      margin-right: 5px;
    }
  }
}
