$active-color: #4CAF50;

.TaskDetail {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1;

  & .title {
    font-family: "Noto Sans Bold";
    color: #2b4970;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;
  }

  & .questionsContainer{
    max-width: 100%;
    box-sizing: border-box;

    &, & .questionArea{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & .questionArea{
      border-bottom: 1px solid #CFD8DC;
      user-select: none;
      &:last-child{
        border: none;
      }
      
      padding: 5px 10px;
      
      margin: 5px 0;
      justify-content: center;
      
      & .questionTitle {
        font-size: 20px;
        font-weight: bold;
        color: #172b4d;
        margin-bottom: 10px;
        position: relative;
        z-index: 99;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 70%;
          background-color: #ECEFF1;
        }
      }

      & .questionRateArea{
        background-color: transparent;

        & .questionRate{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;

          & span{
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 4px;
            background-color: #CFD8DC;
            transition: all .4s ease;

            &.pointActive{
              background-color: $active-color;
              &:nth-child(1){
                background-color: #F44336;
              }
              &:nth-child(2){
                background-color: #EF5350;
              }
              &:nth-child(3){
                background-color: #FF7043;
              }
              &:nth-child(4){
                background-color: #66BB6A;
              }
              &:nth-child(5){
                background-color: #4CAF50;
              }
              
              color: #fff;
            }
          }
        }
      }

    }

    & .questionsSubmitButton{
      width: 100%;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      margin-top: 7px;
      min-height: 50px;
      background-color: $active-color;
      color: #fff;
      border: none;
      font-size: 17px;
      font-weight: bold;
    }

  }

  & .label {
    font-family: "Noto Sans";
    background-color: #ff8104;
    color: #fff;
    width: 75px;
    border-radius: 4px;
    font-size: calc(2px + 12px);
    margin: 0 20px 10px;
    text-align: center;
  }

  & .description {
    font-family: "Noto Sans";
    color: #484848;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;
  }

  & .users {
    font-family: "Noto Sans";
    color: #2b4970;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;

    & span {
      color: #484848;
    }

    & .userImage {
      position: absolute;
      right: 30px;
      border-radius: 50%;
      border: 1px solid #2b4970;
      width: 30px;
      height: 30px;
      overflow: hidden;
      top: 0;
      display: flex;

      & img {
        width: 100%;
      }
    }
  }

  & .status {
    font-family: "Noto Sans";
    color: #2b4970;
    font-size: calc(2px + 10px);
    margin: 0 20px 10px;
    & span {
      color: #646464;
    }
  }

  & .deadline {
    font-family: "Noto Sans";
    position: absolute;
    bottom: -75px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: #fff;
    width: 72px;
    padding: 2px 5px;
    background-color: #ff0000;
    border-radius: 4px;
    font-size: calc(2px + 10px);
    margin: 0 20px 10px;
    text-align: center;

    & img {
      width: 14px;
      margin-right: 5px;
    }
  }
}
