$active-color: #4CAF50;

.TaskDetail {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1;

  & .title {
    font-family: "Sofia Pro Bold";
    color: #2c3f58;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;
  }

  & .in{
    display: flex;
    width: 100%;
    margin: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    
    &.inStretch{
      justify-content: stretch;
      &>*{
        flex: 1 1 auto;
      }
    }

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 0 10px;

      &.alignRight{
        justify-content: flex-end;
      }

      &:first-child{
        margin-left: 0;
      }

      & > span{
        user-select: none;
        margin: 0 0 0 8px;
        padding: 5px 10px;
        display: block;
        font-weight: bold;
        border: 1px solid rgba(9, 30, 66, 0.06);
        border-radius: 5px;
        background-color: rgba(9,30,66,.04);
        color: #172b4d;

        &.labelStyleGreen,
        &.labelStyleIndigo,
        &.labelStyleBlue,
        &.labelStyleRed,
        &.labelStyleOrange,
        &.labelStylePurple{
          color: #fff;
          border: 1px solid transparent;
        }


        /*
          X green: #4CAF50
          X indigo: #3F51B5
          X blue: #2196F3
          X red: #F44336
          X orange: #F44336
          X purple: #9C27B0
          
        */
        &.labelStyleGreen{
          background-color: #4CAF50;
        }
        &.labelStyleIndigo{
          background-color: #3F51B5;
        }
        &.labelStyleBlue{
          background-color: #2196F3;
        }
        &.labelStyleRed{
          background-color: #F44336;
        }
        &.labelStyleOrange{
          background-color: #F44336;
        }
        &.labelStylePurple{
          background-color: #9C27B0;
        }
        
        &.userIn {
          width: 30px;
          height: 30px;
          padding: 0;
          border: none;
          border-radius: 250px;
          &>img{
            border-radius: 250px;
            overflow: hidden;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  & .taskDetailGroup {
    justify-content: flex-start;

    &, 
    & .taskDetailTitle,
    & .taskDetailContent {
      flex-direction: column;
      display: flex;
      width: 100%;
    }

    & .taskDetailTitle {
      margin: 0;

      & >h3{
        font-size: 22px;
        color: #172b4d;
        margin: 5px 0;
      }
    }

    & .taskDetailContent {
      background: rgba(0,0,0,.02);
      padding: 15px 10px;
      width: 100%;
      box-sizing: border-box;
      margin: 9px 0px;
      border-radius: 7px;
      & *{
        color: #172b4d;
        font-size: 16px;
        opacity: .9;
        font-weight: 100;
      }
    }

  }

  & .logsArea{
    display: flex;
    width: 100%;
    flex-direction: column;

    & .logsHeader{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      & >h3{
        font-size: 22px;
        color: #172b4d;
        margin: 5px 0;
      }

      & >button{
        background-color: rgba(9,30,66,.04);
        box-shadow: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 12px 24px;
        color: #172b4d;
        outline:none;

        &:hover{
          background-color: rgba(9,30,66,.08);
        }
        &:active{
          background-color: #e4f0f6;
          color: #0079bf;
        }
      }
      
    }

  }

  & .doRateArea{
    margin: 10px 0;
    display: flex;
    user-select: none;
    flex-direction: column;
    align-items: center;

    & .doRateAreaString{
      display: flex;
    }
    & .doRateAreaButtons {
      display: flex;
      margin: 10px 0 0 0;

      & > button{
        cursor: pointer;
      } 

      & .doRateAreaButtonGreen{
        display: flex;
        border:none;
        outline: none;
        color: #fff;
        padding: 10px 15px;
        background-color: #4CAF50;
        border-radius: 4px;
        text-transform: lowercase;
        font-weight: bold;
      }

    }
  }

  & .questionsContainer{
    max-width: 100%;
    box-sizing: border-box;

    &, & .questionArea{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & .questionArea{
      border-bottom: 1px solid #CFD8DC;
      user-select: none;
      &:last-child{
        border: none;
      }

      padding: 5px 10px;

      margin: 5px 0;
      justify-content: center;

      & .questionTitle {
        font-size: 20px;
        font-weight: bold;
        color: #172b4d;
        margin-bottom: 10px;
        position: relative;
        z-index: 99;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 70%;
          background-color: #ECEFF1;
        }
      }

      & .questionRateArea{
        background-color: transparent;

        & .questionRate{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;

          & span{
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 4px;
            background-color: #CFD8DC;
            transition: all .4s ease;

            &.pointActive{
              background-color: $active-color;
              &:nth-child(1){
                background-color: #F44336;
              }
              &:nth-child(2){
                background-color: #EF5350;
              }
              &:nth-child(3){
                background-color: #FF7043;
              }
              &:nth-child(4){
                background-color: #66BB6A;
              }
              &:nth-child(5){
                background-color: #4CAF50;
              }

              color: #fff;
            }
          }
        }
      }

    }

    & .questionsSubmitButton{
      width: 100%;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      margin-top: 7px;
      min-height: 50px;
      background-color: $active-color;
      color: #fff;
      border: none;
      font-size: 17px;
      font-weight: bold;
    }

  }

  & .label {
    font-family: "Sofia Pro";
    background-color: #ff8104;
    color: #fff;
    width: 75px;
    border-radius: 4px;
    font-size: calc(2px + 12px);
    margin: 0 20px 10px;
    text-align: center;
  }

  & .description {
    font-family: "Sofia Pro";
    color: #484848;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;
  }

  & .users {
    font-family: "Sofia Pro";
    color: #2c3f58;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;

    & span {
      color: #484848;
    }

    & .userImage {
      position: absolute;
      right: 30px;
      border-radius: 50%;
      border: 1px solid #2c3f58;
      width: 30px;
      height: 30px;
      overflow: hidden;
      top: 0;
      display: flex;

      & img {
        width: 100%;
      }
    }
  }

  & .status {
    font-family: "Sofia Pro";
    color: #2c3f58;
    font-size: calc(2px + 10px);
    margin: 0 20px 10px;
    & span {
      color: #646464;
    }
  }

  & .deadline {
    font-family: "Sofia Pro";
    position: absolute;
    bottom: -75px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: #fff;
    width: 72px;
    padding: 2px 5px;
    background-color: #ff0000;
    border-radius: 4px;
    font-size: calc(2px + 10px);
    margin: 0 20px 10px;
    text-align: center;

    & img {
      width: 14px;
      margin-right: 5px;
    }
  }
}
