@import '../../helpers/responsiveBreakpointsMixins.scss' ;
.Chart {
  @include medium{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  position: relative;

  & .header {
    margin-bottom: 40px;
    margin-top: 16px;
    font-family: "Sofia Pro Bold";
    font-size: calc(2px + 24px);
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.17px;
    color: #2c3f58;
  }
  & .pieDiagram {
    margin-left: -30px;
    margin-top: -24px;
  }
}

.recharts-surface {
  @include medium{
    transform: scale(0.3);
  }
}