.Chart {
  position: relative;

  & .header {
    margin-bottom: 40px;
    margin-top: 16px;
    font-family: "Noto Sans Bold";
    font-size: calc(2px + 24px);
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.17px;
    color: #2b4970;
  }
}
