@import "../../helpers/responsiveBreakpointsMixins.scss";


.affiliate{
	&__mask{
		background-color: #000000;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
	&__header{
		 box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
		width: 100%;
		height:230px;
		.container{
			width: 100%;
			height:230px;
			background-position: top right;
			background-repeat: no-repeat;
			position: relative;
			display: flex;
			align-items: center;
		}

		p{
			font-size: 23px;
			line-height: 1;
			color: #ffffff;
			text-align: center;
			position:absolute;
			bottom:0;
			margin-bottom: 0!important;
			font-family: "Sofia Pro Bold";
    		font-size: 60px;
    		color: #2c3f58;
		}
	}
	&__content{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__triple{
		margin-top:80px;
		margin-bottom:80px;
	}
	&__tripleBox{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		padding:32px;
    	border: 1px solid #efefef;
    	border-radius: 12px;
		margin-bottom: 30px;
		img{
			width: 100px;
			margin-bottom:20px;
		}
		&__title{
    		font-family: "Sofia Pro Bold";
    		font-size: 20px;
    		color: #2c3f58;
    		text-align: center;
			margin-bottom:20px;
		}
		&__description{
			font-family: "Sofia Pro";
		    font-size: 16px;
		    font-weight: 300;
		    font-stretch: normal;
		    font-style: normal;
		    line-height: 1.56;
		    letter-spacing: normal;
		    text-align: center;
		    color: #2c3f58;
		}
	}
	&__timeline{
		margin-top:50px;
		&__title{
			font-family: "Sofia Pro Bold";
			font-size: 30px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.2;
			letter-spacing: normal;
			text-align: center;
			color: #2c3f58;
		}
	}
}
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
	margin-top: 80px;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
	@include small{
		display: none;
	}
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	@include small{
		width: 100%;
	}
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 1;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	@include small{
		display: none;
	}
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2c3f58 !important;
}


.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}
