@import '../../helpers/responsiveBreakpointsMixins.scss';

$primary: (background-color:#2b4970, color:white, border:solid 1px #264870);
$secondary: (background-color:rgba(#f97050,0.9), color:#fff, border:solid 1px transparent);
$ghost: (background-color:white, color:#2c3f58, border:solid 1px #ddd);
$link: (background-color:transparent, color:#484848, border:solid 1px transparent);
$icons: ("large":24px, "default":24px, "small":17px, "tiny":16px);
$icon-margins: ("large":12px, "default":8px, "small":4px, "tiny":4px);

$variants:( //primary variants
  primary-hover: (background-color:rgba(#150b50,1), color:white, border:solid 1px transparent),
  primary-focus: (background-color:#150b50, color:white, border:solid 1px #003670),
  primary-disable: (background-color:#cccccc, color:#919191, border:solid 1px #cccccc),
  //secondary variants
  secondary-hover: (background-color:rgba(#ff5f01,1), color:#fff, border:solid 1px transparent),
  secondary-focus: (background-color:rgba(#ff5f01,1), color:white, border:solid 1px #ff5f01),
  secondary-disable: (background-color:#cccccc, color:#919191, border:solid 1px #cccccc),
  //ghost variants
  ghost-hover: (background-color:transparent,color:#2c3f58,border:solid 1px #2c3f58),
  ghost-focus: (background-color:rgba(#2c3f58,0.08),color:#003670,border:solid 1px #003670),
  ghost-disable: (background-color:white,color:#919191,border:solid 1px #cccccc),
  //link variants
  link-hover: (background-color:transparent, color:#2c3f58, border:solid 1px transparent),
  link-focus: (background-color:transparent, color:#003670, border:solid 1px transparent),
  link-disable: (background-color:transparent, color:#919191, border:solid 1px transparent),
);

// size variants
$large: (padding:12px 36px, font-size:16px);
$default: (padding:8px 24px, font-size:16px);
$small: (padding:8px 10px, font-size:16px);
$tiny: (padding:4px 12px, font-size:12px);

$types: ("primary":$primary, "secondary":$secondary, "ghost":$ghost, "link":$link);
$sizes: ("large":$large, "default":$default, "small":$small, "tiny":$tiny);

.btn {
  border-radius: 12px;
  box-sizing: unset;
  border: none;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 6px;
  font-family: "Sofia Pro";

  &.loading {
    pointer-events: none;
    & img {
      width: 19px !important;
    }

    &:hover {
      & img {
        width: 19px !important;
        display: block !important;
      }
    }
  }



  @each $typeName,
  $type in $types {
    &.#{$typeName} {


      @each $key,
      $value in $type {
        #{$key}: $value;
      }

      &.disabled {

        @each $key,
        $value in map-get($variants, #{$typeName}#{-disable}) {
          #{$key}: $value;
        }

        cursor: not-allowed;
        pointer-events: none;
      }

      &:not(.disabled):hover {

        @each $key,
        $value in map-get($variants, #{$typeName}#{-hover}) {
          #{$key}: $value;
        }
      }

      &:not(.disabled):active {

        @each $key,
        $value in map-get($variants, #{$typeName}#{-focus}) {
          #{$key}: $value;
        }
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  @each $sizeName,
  $size in $sizes {

    @each $key,
    $value in $size {
      &.#{$sizeName} {
        #{$key}: $value;

        & img {
          &:not(.autoWidth) {
            width: map_get($icons, #{$sizeName});
          }

          &.hoverIcon {
            display: none;
          }

          &.left-icon {
            margin-right: map_get($icon-margins, #{$sizeName});
          }

          &.right-icon {
            margin-left: map_get($icon-margins, #{$sizeName});
          }

          &.center-icon {
            margin: 0;
          }
        }

        &:hover {
          & .hoverIcon {
            display: block;
          }

          & img:not(.hoverIcon) {
            display: none;
          }
        }
      }
    }
  }

  &.responsivePost {
    @include small {
      width: 30px;
      font-size: calc(2px + 8px);
    }
  }

  &.responsiveAuth {
    @include small {
      font-size: calc(2px + 8px);
    }
  }

  &.responsiveLink {
    @include small {
      font-size: calc(2px + 8px);
    }
  }

  &.responsiveHamburger {
    @include medium {
      width: 120px;
    }
  }
}
