@import '../../helpers/responsiveBreakpointsMixins';
.wfaQuestionWrapper{
	margin-top:50px;
	margin-bottom:50px;
}
.wfaWrapper {
	&__header {
		font-family: "Sofia Pro Bold";
		font-size: 32px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: center;
		width: 100%;
		height: 100%;
		color: #2c3f58;
		margin-bottom: 30px;
	}
	&__numeric {
		display: flex;
		flex-direction: column;
		font-family: "Sofia Pro Bold";
		font-size: 32px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: center;
		width: 150px;
		height: 100%;
		color: #264870;

		& span {
			font-family: "Sofia Pro";
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.22;
			margin-bottom: 10px;
			letter-spacing: normal;
			text-align: center;
			color: #2c3f58;
		}
	}
	&__labels {
		width: 100%;
		text-align: center;
	}
	&__label {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__items {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

	}
	&__item {
		font-family: "Sofia Pro Bold";
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: center;
		color: #264870;
		margin: 0 20px 10px 0;
		& span {
			font-family: "Sofia Pro";
			font-size: 15px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.22;
			letter-spacing: normal;
			text-align: center;
			color: #2c3f58;
		}
	}
	&__questions {
		width: 100%;
		text-align: center;
		margin-bottom: 80px;
		&__question {
			display: flex;
			flex-direction: column;
			font-family: "Sofia Pro";
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.22;
			letter-spacing: normal;
			text-align: center;
			color: #2c3f58;
			& .averageScore {
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}

}
