@import '../../helpers/responsiveBreakpointsMixins.scss';

.container{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  min-height: 50px;
  margin: 10px 0;
  align-items: stretch;
  padding: 10px 0;
  max-height: 60px;


  & .searchArea {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: .4s all ease;

    & .searchInput{
      padding: 0 20px;
      height: 100%;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;

      width: 100px;
      
      letter-spacing: -1px;
      outline: none;
      border: none;
      border-color: transparent;
      color: rgb(40, 43, 48);
      transition: .4s all ease-in-out;
      box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.05);
    }
    & .searchInput:focus, 
    & .searchInput:active{
      width: 200px;
    }

    & .searchSubmit{
      background-color: #2196F3;
      color: rgba($color: #fff, $alpha: 0.9);
      border: none;
      padding: 5px 10px;
      outline: none;
      border-radius: 0 4px 4px 0px;
      text-transform: lowercase;
      font-weight: bold;
    }
    
  }

  & .verticalHR{
    width: 2px;
    background-color: #CFD8DC;
    margin: 10px;
  }

  & .internList {
    display: flex;
    flex: 1 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 50px;
    -ms-overflow-style: none; 
      scrollbar-width: none; 
      &::-webkit-scrollbar{
        display: none;
      }

    & .intern{
      user-select: none !important;
      min-width: 195px;
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 7px;
      background-color: #ebecf0;
      

      & .internImage {
        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        margin-left: 10px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        & .noSelectImage{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        & img{
          max-height: 40px;
        }
      }

      & .internName {
        max-height: 50px;
        padding: 0 20px;
        font-weight: bold;
        color: #172b4d;
      }

      &.internActive{
        background-color: #2196F3;

        & .internName {
          color: #fff;
        }
      }
    }
    
  }

}