@import '../../helpers/responsiveBreakpointsMixins.scss';

.containerr{
  display: flex;
  flex-wrap: nowrap;
  min-height: 50px;
  margin: 10px 0;
  align-items: stretch;
  padding: 10px 0;
  width: fit-content;
  margin: 0 auto;
  max-width: 90%;

  @include small{
    flex-direction: column;
  }


  & .searchArea {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: .4s all ease;
    @include small{
      height: 50px;
      margin: 5px 0;
    }

    & .searchInput{
      padding: 0 20px;
      height: 100%;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;

      width: 100px;
      @include small{
        width: 70%;
      }

      letter-spacing: -1px;
      outline: none;
      border: none;
      border-color: transparent;
      color: rgb(40, 43, 48);
      transition: .4s all ease-in-out;
      box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.05);
    }
    & .searchInput:focus,
    & .searchInput:active{
      width: 200px;
      @include small{
        width: calc(100% - 40px);
      }
    }

  }

  & .AllInternsButtonContainer{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: .4s all ease;

    @include small{
      height: 50px;
      width: 100%;
      margin: 5px 0;
    }


    & button{
      padding: 0 20px;
      height: 100%;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      width: 100px;
      @include small{
        width: 100%;
      }

      letter-spacing: -1px;
      outline: none;
      border: none;
      border-color: transparent;
      color: rgb(40, 43, 48);
      box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.05);

      &.AllInternsButtonChecked{
        background-color: #2196F3;
        color: #fff;
      }
    }
  }

  & .verticalHR{
    width: 2px;
    background-color: #CFD8DC;
    margin: 10px;
    @include small{
      display: none;
    }
  }

  & .internList {
    display: flex;
    position: relative;
    flex: 1 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 50px;
    @include small{
      height: 50px;
      width: 100%;
      margin: 5px 0;
    }
    -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar{
        display: none;
      }

    & .intern{
      user-select: none !important;
      min-width: 195px;
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 7px;
      background-color: #ebecf0;


      & .internImage {
        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        margin-left: 10px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        & .noSelectImage{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        & img{
          max-height: 40px;
        }
      }

      & .internName {
        max-height: 50px;
        padding: 0 20px;
        font-weight: bold;
        color: #172b4d;
      }

      &.internActive{
        background-color: #2196F3;

        & .internName {
          color: #fff;
        }
      }
    }

  }

}
