.MyCourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 80px;

  & .courseImage {
    width: 100%;

    & img {
      width: 100%;
    }
  }

  & .duration {
    font-size: calc(2px + 15px);
    margin: 20px 0 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #2c567e;
    overflow: hidden;
    cursor: pointer;

    & span {
      color: #646464;
      margin-left: 5px;
    }
  }

  & .language {
    font-size: calc(2px + 15px);
    margin: 20px 0 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2c567e;
    overflow: hidden;
    cursor: pointer;

    & span {
      color: #646464;
      margin-left: 5px;
    }
  }

  & .cards {
    display: flex;
    justify-content: space-between;
    align-items: start;

    & .courses {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      & .courseHeader {
        font-size: calc(2px + 15px);
        margin: 4px 0 0;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.28px;
        display: flex;
        align-items: center;
        color: #2c567e;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          & .playIcon {
            background-color: #2c3f58;
          }
        }

        & .playIcon {
          border: 1px solid #2c3f58;
          width: 15px;
          height: 15px;
          padding: 5px;
          border-radius: 50%;
          display: flex;
          margin-right: 20px;

          & img {
            width: 15px;
          }
        }
      }
      & .courseDuration {
        font-family: "Sofia Pro";
        font-size: 12px;
        color: #646464;
      }
    }

    & .profileSection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
