.formSection {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  padding: 16px 32px 42px;

  &:last-child {
    border: none;
  }

  & .addButton {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  & .subSections {
    font-family: "Sofia Pro Bold";
    position: relative;
	
    & .subSectionTitle {
      color: #2c3f58;
      margin: 20px 0;
      top: 0;
      left: 0;
    }
  }
}

.formButtons {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 32px;
  right: 32px;
  background-color: white;
  z-index: 123;
  -webkit-box-shadow: 0px -26px 23px 23px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px -26px 23px 23px rgba(255, 255, 255, 1);
  box-shadow: 0px -26px 23px 23px rgba(255, 255, 255, 1);
}
