.CoverLetters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .cards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    & .CoverLettersWrapper {
      width: 100%;
    }

    & .profileSection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
