.TopBar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: calc(100% - 80px);
  height: 80px;
  z-index: 12;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  &.fullScreen {
    width: 100%;
  }

  & .logo {
    cursor: pointer;
    padding: 0 20px;

    & img {
      height: 40px;
    }
  }

  & .links {
    display: flex;
    align-items: center;
    padding: 0 20px;

    & .userName {
      font-family: "Noto Sans Bold";
    }

    & .img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      padding: 10px;
      margin: 0 4px;
      background-color: #f0f0f0;

      & .cardContainer {
        position: absolute;
        top: 42px;
        right: 0;
      }

      & > img {
        height: 100%;
      }
    }

    & > div {
      cursor: pointer;
      margin: 0 20px;
      font-family: "Noto Sans";
      font-weight: 100;
      font-size: 12px;
      color: #2b4970;

      &.packages:hover {
        text-decoration: underline;
      }

      & > a {
        font-family: "Noto Sans";
        font-weight: 100;
        font-size: 12px;
        color: #2b4970;
        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}
