@import "../../helpers/responsiveBreakpointsMixins.scss";
.cartIcon {
  margin: 0 10px;
  display: flex;
  position: relative;
  & .cartItemCount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(249, 112, 80, 0.9);
    border-radius: 50%;
    position: absolute;
    font-size: 14px;
    width: 18px;
    height: 18px;
    bottom: -5px;
    right: -5px;
  }
}
.topBar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f6f8fa;
  width: 100%;
  height: 88px;
  z-index: 12;
  box-shadow: none;
  display: flex;
  align-items: center;

  &__rightSide {
    display: flex;
    justify-content: flex-end;
  }

  &__scroll {
    background-color: white;
    -webkit-box-shadow: 0 3px 4px 0 rgba(215, 219, 252, 0.55);
    -moz-box-shadow: 0 3px 4px 0 rgba(215, 219, 252, 0.55);
    box-shadow: 0 3px 4px 0 rgba(215, 219, 252, 0.55);
    transition: 0.5s;
  }

  &__fullScreen {
    width: 100%;
  }

  &__logo {
    cursor: pointer;
    & img {
      height: 40px;

      @include small {
        height: 32px;
      }
    }
  }

  &__hamburgerMenu {
    display: none;

    @include medium {
      display: block;
      margin-right: 24px;
      &__hamburgerMenuIcon {
        width: 24px;
        cursor: pointer;
      }
    }

    &__hamburgerLinks {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin-top: 96px;
      margin-right: auto;
      margin-left: auto;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 24px 0px;
        & a {
          color: #2c3f58;
        }
      }
    }

    &__hamburgerButtons {
      width: 176px;
      height: 300px;
      margin-right: auto;
      margin-left: auto;
    }

    &__hamburgerAccountName {
      margin-top: 96px;
      margin-bottom: 48px;
      width: 210px;
      margin-left: auto;
      margin-right: auto;
      &__userName {
        font-family: "Sofia Pro Bold";
      }
    }

    &__hamburgerAccountTools {
      display: flex;
      justify-content: space-between;
      width: 280px;
      margin-left: auto;
      margin-right: auto;

      &__img {
        position: relative;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 10px;
        margin: 0 4px;
        background-color: #f0f0f0;

        & .count {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 10px;
          font-size: 10px;
          border-radius: 50%;
          background-color: red;
          color: white;
          height: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px;
        }

        & .cardContainer {
          position: absolute;
          display: flex;
          justify-content: flex-end;
          width: 100vw;
          height: 100vw;
          top: 64px;
          right: -64px;
          cursor: default;

          &.mail {
            right: -140px;
          }

          &.user {
            right: 0;
          }

          &.bell {
            right: -84px;
          }
        }
        & > img {
          width: 20px;
          height: 20px;
        }
      }
    }
    &__dropdownContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &__dropdown {
        position: absolute;
        top: 48px;
        left: 0;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    @include medium {
      display: none;
    }

    &__userName {
      font-family: "Sofia Pro Bold";
    }

    &__dropdownContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &__dropdown {
        position: absolute;
        top: 48px;
        left: 0;
      }
    }

    & .img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      margin: 0 4px;
      background-color: #f0f0f0;

      & .count {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 10px;
        font-size: 10px;
        border-radius: 50%;
        background-color: red;
        color: white;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
      }

      & .cardContainer {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        height: 100vw;
        top: 42px;
        right: 0;
        cursor: default;
      }

      & > img {
        width: 20px;
        height: 20px;
      }
    }

    & > div {
      cursor: pointer;
      margin: 0 20px;
      font-family: "Sofia Pro Bold";
      font-weight: 100;
      font-size: 16px;
      color: #264870;

      &.packages:hover {
        text-decoration: underline;
      }

      & > a {
        font-family: "Sofia Pro Bold";
        font-weight: 100;
        font-size: calc(16px);
        color: #264870;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__nonscroll {
      font-family: "Sofia Pro Bold";
    }

    &__scroll {
      font-family: "Sofia Pro Bold";
    }
  }
}
