.TopBar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: calc(100% - 80px);
  height: 80px;
  z-index: 12;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.fullScreen {
    width: 100%;
  }

  & .logo {
    padding: 0 20px;

    & img {
      height: 40px;
    }
  }

  & .links {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: "Noto Sans";
    font-weight: 100;
    font-size: 12px;
    color: #2b4970;
    & > div {
      cursor: pointer;
      margin: 0 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
