.Counter {
  display: flex;
  flex-direction: column;
  color: #2b4970;
  font-family: "Sofia Pro Bold";
  white-space: pre-line;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  margin: 2rem 0;
}
