.Course {
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 880px;
  display: grid;
  grid-template-columns: 150px auto auto 150px;

  & .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 104px;
    border-radius: 32px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 18px 18px 0px rgba(#2b4970,0.1);
    -moz-box-shadow: 0px 18px 18px 0px rgba(#2b4970,0.1);
    box-shadow: 0px 18px 18px 0px rgba(#2b4970,0.1);
    margin-bottom: 20px;
    overflow: hidden;
    margin-right: 20px;
    grid-column: span 1;
    grid-row: span 5;
    align-self: center;
    & img {
      width: 100%;
    }
  }

  & .name {
    display: flex;
    grid-column: span 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .header {
      font-family: "Noto Sans Bold";
      font-size: calc(2px + 15px);
      font-weight: bolder;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.3px;
      color: #2b4970;
      grid-column: span 2;
    }
    & .date {
      font-size: calc(2px + 12px);
      font-weight: lighter;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.24px;
      color: #949494;
      grid-column: span 1;
      margin-right: 6px;
    }
  }

  & .description {
    font-size: calc(2px + 15px);
    margin: 4px 0 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.28px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #2c567e;
    width: calc(100%);
    overflow: hidden;
    grid-column: span 2;
  }

  & .language {
    display: flex;
    margin: 4px 0 0;
    font-size: calc(2px + 13px);
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.24px;
    color: #949494;
    width: calc(100% - 124px);
    grid-column: span 2;

    & img {
      height: 18px;
      width: 11px;
      margin-right: 4px;
    }
  }

  & .duration {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 12px 0 0;
    font-size: calc(2px + 13px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.24px;
    color: #949494;
    width: 80%;
    grid-column: span 2;
  }
}
