.coverLetterWrapper {
  & .accordion_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

    & .text {
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
    }
    & img {
      height: 30px !important;
      width: 30px !important;
      margin-right: auto;
      margin-left: auto;
      transition: 0.3s ease-in-out;
      &.active {
        transform: rotateZ(180deg);
      }
    }
  }
  & .accordion_wrapper {
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    & .editSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      & .input {
        padding: 12px 16px;
        margin: 8px 0 0;
        min-width: 100%;
        background-color: transparent;
        outline: none;
        height: 234px;
        /* border: 1px solid red; */
      }

      & button {
        align-self: flex-end;
      }
    }
    &.active {
      max-height: 350px;
    }
  }

  & .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
