@import "../../helpers/responsiveBreakpointsMixins.scss";

.helpCenter {
	&__title{
		text-align: center;
		span{
			font-family: "Sofia Pro Bold";
    		font-size: 20px;
    		color: #2c3f58;
    		text-align: center;
		}
		margin-bottom:20px;
		margin-top:80px;
	}
	&__searchInput{
		label{
			display: none;
		}
	}
}

.headerBackground{
	@include medium{
		background-image: none!important;
	}
}
