@import '../../../../helpers/responsiveBreakpointsMixins.scss';

.InternListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    padding: 24px;
    cursor: pointer;
    transition: 0.3s;

    @include x-large {
        flex-direction: column;
        height: 800px;
        padding: 0px;
    }

    &:hover {
        background-color: rgb(241, 241, 241)
    }

    & .responsiveTitles {
        display: none;

        @include x-large {
            display: flex;
            padding: 24px;
            font-weight: bold;
            font-size: 20px;
            color: #2b4970
        }

    }

    & .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;

        @include small {
            font-size: calc(2px + 12px);
        }

        & .avatar {

            & img {
                border-radius: 50%;
            }
        }

        & .fullname {
            font-weight: 600;
            color: #2c3f58;
        }
    }


    & .company {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;

        @include small {
            font-size: calc(2px + 12px);
        }

        & .companyLogo {
            & img {
                width: 200px;
            }
        }

        & .position {
            font-weight: 600;
            color: #2c3f58
        }

    }

    & .program {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        & article {
            font-size: 16px;
            font-weight: 600;

            color: #2c3f58;

            @include small {
                font-size: calc(2px + 12px);
            }
        }

        @include small {
            font-size: calc(2px + 12px);
        }

        @include x-large {
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 0px;
        }




        & .duration,
        .startDate,
        .endDate,
        .leftDay,
        .internshipLength {
            display: flex;
            align-items: center;
        }
    }

    & .bar {
        position: relative;
        width: 150px;
        border-radius: 2px;
        height: 10px;
        background-color: #eeeeee;
        border: solid 0.2px rgb(212, 212, 212);

        & .duration {
            position: absolute;
            left: 0;
            width: 100%;
            border-radius: 2px;
            height: 10px;
            background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #2b4970), to(#6588b5));
            background-image: linear-gradient(#2b4970 10%, #6588b5);
        }
    }

    & .Completed {
        display: flex;
        position: absolute;
        bottom: 20px;
        right: 32px;
        font-weight: 600;
        color: #2c3f58;

        @include x-large {
            padding-top: 24px;
        }

    }

    & .Ongoing {
        display: flex;
        position: absolute;
        bottom: 20px;
        right: 32px;
        font-weight: 600;
        color: #FF8104;
    }
}