@import '../../helpers/responsiveBreakpointsMixins.scss';

.message-list {
  position: relative;
  height: 100%;
  overflow: hidden;

  & .message-list-container {
    padding: 10px 10px 70px;
    height: calc(100% - 200px);
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #e5e5e4;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(156, 156, 156);
    }
  }
}

.toolbar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 150px;
}

.toolbar__avatar {
  border-radius: 10%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  object-fit: contain;

  @include medium {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-right: 0;
    margin: 8px 0 1.5px 12px;
    margin-right: 24px;

  }
}

.toolbar__title {
  font-weight: 600;

  @include medium {
    font-size: 14px
  }
}

.more_icon {
  width: 25px !important;
}

.more_icon:hover {
  cursor: pointer;
  width: 25px !important;
}

.popover {
  z-index: 1000 !important;
  -webkit-box-shadow: 0px 5px 47px 3px rgba(173, 173, 173, 0.8);
  -moz-box-shadow: 0px 5px 47px 3px rgba(173, 173, 173, 0.8);
  box-shadow: 0px 5px 47px 3px rgba(173, 173, 173, 0.8);
  width: 150px;
  height: 50px;
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 15px;

  & .popover__button {
    margin: auto;
    z-index: 1001;
    width: 100%;
    height: 100%;
    border: none;
    font-weight: 700;
    font-size: calc(2px + 12px);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & img {
      width: 20px;
    }
  }
}


button.three-dots-button {
  width: 30px;
  height: 30px;
  border: none;
  font-weight: 700;
  font-size: calc(2px + 12px);
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button.three-dots-button:active {
  text-decoration: none;
  outline: none;
  border: none;
}
