@import "../../helpers/responsiveBreakpointsMixins.scss";
.ndaContent{
	font-size: 16px;
	color: #264870;
	a{
		color: #264870;
		font-family: "Sofia Pro Bold";
		font-size: 16px;
	}
}
.taskTabs{
	display: flex;
    flex-direction: row;
    align-items: stretch;
	margin-bottom:50px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #e9ecef;
    z-index: 7;
	ul{
		width: 100%;
		border:0!important;
	}
	&__tab{
		margin: 0;
	    font-size: 1rem;
	    font-weight: 300;
	    padding: 0;
	    height: 50px;
	    line-height: 50px;
	    flex: 1 1;
	    text-align: center;
	    position: relative;
		border-radius: 50px;
		a{
			color: #264870;
			font-family: "Sofia Pro Bold";
			font-size: 16px;
			@include small{
				font-size:13px;
			}
		}
		&.active{
			background-color: #264870;
			a{
				color:white;
			}

		}
	}
}
.MyTasks {
	margin-bottom:80px;
	margin-top:80px;
    & .gridItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #eee;
        border-top: none;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        width: 326px;
        height: fit-content;
        @include small {
            width: 190px;
        }

        & .sectionHeader {
            position: sticky;
            top: 0;
            z-index: 1;
            font-family: "Sofia Pro";
            font-size: calc(2px + 16px);
            padding: 20px 0;
            margin-bottom: 10px;
            width: 325px;
            @include small {
                width: 190px;
            }
            background: #2c3f58;
            color: white;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        & .taskItem {
            display: flex;
            justify-content: center;
            width: 332px;
            @include small {
                width: 200px;
            }
        }
    }

    & .createIcon {
        position: fixed;
        cursor: pointer;
        bottom: 24px;
        left: 24px;
        display: flex;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #2c3f58;
        -webkit-box-shadow: 0px 0px 30px 2px rgba(43, 73, 112, 0.6);
        -moz-box-shadow: 0px 0px 30px 2px rgba(43, 73, 112, 0.6);
        box-shadow: 0px 0px 30px 2px rgba(43, 73, 112, 0.6);
        &:hover {
            background-color: #325a88;
            -webkit-box-shadow: 0px 0px 30px 2px rgba(#325a88, 0.6);
            -moz-box-shadow: 0px 0px 30px 2px rgba(#325a88, 0.6);
            box-shadow: 0px 0px 30px 2px rgba(#325a88, 0.6);
        }
        &:active {
            background-color: rgba(#2c3f58, 1);
            -webkit-box-shadow: 0px 0px 30px 2px rgba(43, 73, 112, 0.6);
            -moz-box-shadow: 0px 0px 30px 2px rgba(43, 73, 112, 0.6);
            box-shadow: 0px 0px 30px 2px rgba(43, 73, 112, 0.6);
        }

        & img {
            width: 50px;
            height: 50px;
        }
    }
}

.formWrapper {
    display: grid;
    grid-template-columns: auto auto;

    & .title, & .description, & .label {
        grid-column: span 2;
    }

    & .deadline, & .intern {
        grid-column: span 1;
    }

    & .formButtons {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 2.5%;
        right: 0;
        padding: 10px 0;
        justify-content: flex-end;
        align-self: center;
        width: 95%;
        background: white;
        -webkit-box-shadow: 0px -23px 23px 23px white;
        -moz-box-shadow: 0px -23px 23px 23px white;
        box-shadow: 0px -23px 23px 0px white;
    }
}
