.SCSContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0;
    z-index: 999;

  & .SCSProfileArea{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    margin:0 8px;

    border-radius: 250;

    &>img{
      width: 100%;
      border-radius: 250px;
    }


  }

  & .SCSTextAreaContainer{
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;


    & .SCSTextArea{
      width: 100%;
      height: 100%;
      display: flex;
      box-shadow: 0 1px 2px -1px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);

      & > div {
        display: flex;
        flex-direction: column;
        background: #fff!important;
        min-height: 50px;
        justify-content: stretch;
        padding: 0 10px;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        transition: .4s height ease-in-out;

        & > textarea{
          padding:10px;
          transition: .4s all ease-out;
          padding: 10px 0;
          color: #172b4d;
          resize: none !important;
          outline: none;
          border-color: transparent;
          width: 100%;
          border: 0;
          background: #fff!important;
          box-sizing: content-box;
          overflow-wrap: break-word;
          line-height: 20px;

        }
      }
    }
    & .SCSToolsArea{
      display: flex;
      width: 100%;
      padding-bottom: 10px;
      align-items: center;
      justify-content: flex-end;

      & label.SCSTool{
        padding: 4px;
        box-sizing: border-box;
      }
      
      & .SCSTool{
        display: flex;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        transition: .2s background-color ease-in-out;

        &:hover{
          background-color: rgba($color: #000000, $alpha: .1);
        }

        & >img{
          width: 100%;
          height: 100%;
        }

      }
    }

  }



}