.SCSContainer {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0;

  & >.loadingIndicator{
    user-select: none;
    border-radius: 5px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  & .disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .8;
  }

  & .SCSProfileArea{
    display: flex;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    margin:0 8px;

    border-radius: 250;

    &>img{
      width: 100%;
      border-radius: 250px;
    }


  }

  & .SCSTextAreaContainer{
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      max-width: calc(100% - 66px);


    & .SCSTextArea{
      width: 100%;
      height: 100%;
      display: flex;

      & > div {
        display: flex;
        flex-direction: column;
        background: #fff!important;
        min-height: 50px;
        justify-content: stretch;
        padding: 0 10px;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        transition: .4s height ease-in-out;
		border:0;
        & > textarea{
          padding:10px;
          transition: .4s all ease-out;
          padding: 10px 0;
          color: #172b4d;
          resize: none !important;
          outline: none;
          border-color: transparent;
          width: 100%;
          border: 0;
          background: #fff!important;
          box-sizing: content-box;
          overflow-wrap: break-word;
          line-height: 20px;

        }
      }
    }
    & .SCSToolsArea{
      display: flex;
      width: 100%;
      padding-bottom: 10px;
      align-items: center;
      justify-content: flex-end;

      & label.SCSTool{
        padding: 4px;
        box-sizing: border-box;
        user-select: none;
        margin: 0 2.5px;

        &.SCSToolButtonBlue{
          background-color: #1E88E5;
          margin: 0 6px;
          padding: 0 5px;
          font-size: 15px;
          box-sizing: inherit;
          width: auto;
          border-radius: 4px;
          color: #fff;
          display: flex;
          justify-content: center;
          transition: .3s background-color ease-in-out;
          align-items: center;

          &:hover{
            background-color: #2196F3;
          }
        }

        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }

      & .SCSTool{
        display: flex;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        transition: .2s background-color ease-in-out;

        &:hover{
          background-color: rgba($color: #000000, $alpha: .1);
        }

        & >img{
          width: 100%;
          height: 100%;
        }

      }
    }

  }

  & .SCSFileArea{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 5px 5px 5px;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 5px;

    & .SCSFile{
      padding: 5px 7px;
      margin: 5px;
      font-size: 13px;
      font-weight: bold;
      background-color: #CFD8DC;
      border-radius: 4px;
      color: #263238;
      user-select: none;
      cursor: pointer;

      &.removeAllFiles{
        background-color: #EF5350;
        color: #fefefe;
      }
    }


  }



}
