.MyJobs {
  display: flex;
  justify-content: center;
  align-items: start;

  & .listButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
