.Task {
  position: relative;
  height: 100%;

  & .title {
    font-family: "Noto Sans Bold";
    color: #2b4970;
    font-size: calc(2px + 12px);
    text-align: start;
    margin: 0 20px 10px;
  }

  & .label {
    font-family: "Noto Sans";
    background-color: #ff8104;
    color: #fff;
    width: 75px;
    border-radius: 4px;
    font-size: calc(2px + 12px);
    margin: 0 20px 10px;
    text-align: center;
  }

  & .editButton {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #2b4970;
    color: white;
    font-size: calc(2px + 14px);
    width: 20px;
    height: 20px;
    border-radius: 4px;

    & img {
      width: 100%;
    }

    &:hover {
      background-color: #2b497030;
    }
    &:active {
      background-color: #fff;
    }
  }

  & .description {
    font-family: "Noto Sans";
    overflow: hidden;
    display: -webkit-box;
    width: 80%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #484848;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;
  }

  & .users {
    font-family: "Noto Sans";
    color: #2b4970;
    font-size: calc(2px + 14px);
    text-align: start;
    margin: 0 20px 10px;
    & span {
      color: #484848;
    }
  }

  & .userImage {
    position: absolute;
    bottom: 0;
    right: 20px;
    border-radius: 50%;
    border: 1px solid #2b4970;
    width: 30px;
    height: 30px;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  & .deadline {
    font-family: "Noto Sans";
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff0000;
    color: #fff;
    width: 72px;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: calc(2px + 10px);
    margin: 0 20px 10px;
    text-align: center;

    & img {
      width: 14px;
      margin-right: 5px;
    }
  }
}
