.CvCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: auto;

  & .title {
    margin: 32px 0 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Sofia Pro Bold";
    font-size: calc(2px + 24px);
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.17px;
    color: #2c3f58;
    text-align: center;

    & .page {
      font-family: "Sofia Pro";
      font-size: calc(2px + 12px);
      color: #646464;
    }
  }

  & .buttonContainer {
    display: flex;
    align-items: flex-start;
  }
}
