.cvCreate {
	margin-top:80px;
	margin-bottom:80px;
	.cvEditForm{
		padding: 0!important;
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-family: "Sofia Pro Bold";
		font-size: calc(2px + 24px);
		font-weight: 700;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: -0.17px;
		color: #2c3f58;
		text-align: center;
		margin-bottom:30px;
	}
	&__page {
		font-family: "Sofia Pro";
		font-size: calc(2px + 12px);
		color: #646464;
	}

	&__buttonContainer {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}
}
