.Card {
  position: relative;
  padding: 16px 32px;
  margin: 32px;
  border-radius: 16px;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #efefef;

  &.auth {
    margin: 32px auto;
    width: fit-content;
  }
  &.login {
    margin: 32px auto;
    width: fit-content;
  }
  &.profile {
    margin: 32px 0;
    padding: 56px 24px 48px;
    min-width: 290px;
  }
  &.dropDown {
    margin: 0;
    border-radius: 6px;
    padding: 8px 16px;
    min-width: 150px;
    max-width: 200px;
    height: fit-content;
  }
  &.list {
    padding: 32px;
    min-width: 200px;
    margin-right: 0;
    margin-left: 0;
  }

  & .cardHeader {
    margin-bottom: 16px;
    font-family: "Noto Sans Bold";
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.17px;
    color: #2b4970;

    &.start {text-align: start}
    &.end {text-align: end}
    &.center {text-align: center}
  }
}
