.Card {
  position: relative;
  padding: 16px 32px;
  margin: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #efefef;

  &.myAccount {
    padding: 64px 92px 64px 64px;
    width: 75%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  }
  &.table {
    width: 500px;
    height: 155px;
    margin: 10px 10px 20px;
  }
  &.numeric {
    width: 111px;
    height: 50px;
    margin: 10px;
  }
  &.chart{
    width: 500px;
    height: 400px;
    margin: 10px;
  }
  &.modal {
    border-radius: 4px;
  }
  &.jobPost {
    width: 100%;
  }
  &.auth {
    margin: 32px auto;
    width: fit-content;
  }
  &.login {
    margin: 32px auto;
    width: fit-content;
  }
  &.profile {
    margin: 32px 0;
    padding: 56px 24px 48px;
    min-width: 290px;
  }
  &.dropDown {
    margin: 0;
    border-radius: 6px;
    padding: 8px 16px;
    min-width: 150px;
    max-width: 200px;
    height: fit-content;
  }
  &.list {
    padding: 32px;
    min-width: 200px;
    margin-right: 0;
    margin-left: 0;
  }

  & .cardHeader {
    margin-bottom: 32px;
    font-family: "Noto Sans Bold";
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.17px;
    color: #2b4970;

    &.start {text-align: start}
    &.end {text-align: end}
    &.center {text-align: center}
  }
}
