@import '../../helpers/responsiveBreakpointsMixins.scss';

.dashboardContainer {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% -80px);
    left: 0;
    top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;

}

.internTitles {
    display: flex;
    width: 90vw;
    padding-left: 16px 32px;

    @include x-large {
        display: none;
    }

    & .student {
        font-weight: 600;
        color: #2b4970;
        margin-left: 100px;
    }

    & .companyProgram {
        font-weight: 600;
        color: #2b4970;
        margin-left: -50px;
    }

    & .InternshipInfo {
        font-weight: 600;
        color: #2b4970;
        margin-left: -320px;



    }



    & div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        ;
    }


}