.faq {
	padding-top:80px;
	&__plus{
		width: 28px;
		height: 28px;
		background-image: url("../../assets/plus.png");
		background-size: 28px 28px;
	}
	&__minus{
		width: 28px;
		height: 28px;
		background-image: url("../../assets/minus.png");
		background-size: 28px 28px;
	}
	.card{
		margin-bottom:30px;
	}
	.card-header{
		background-color: transparent;
		padding: 0;
		border:0;
		button{
			font-family: "Sofia Pro Bold";
			font-size: calc(16px);
			&:focus{
				box-shadow: none!important;
			}
		}
	}
	& .sidebar {
		border: 1px solid #e0e2f1;
		border-radius: 10px;
		flex: 1;
		margin-right: 10px;

		& .items {
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-direction: column;

			& .item {
				min-height: 36px !important;
				width: 100%;
				padding-bottom: 10px;
				padding-top: 10px;
				outline: none;
				border: none;
				background-color: transparent;
				color: #2c3f58;
				font-weight: 300;
				text-align: left;
				font-size: medium;
				transition: background-color 0.3s ease;
				font-family: "Sofia Pro";
				font-size: calc(2px + 15px);

				&:hover {
					cursor: pointer;
					background-color: rgba(43, 73, 112, 0.08);
				}
				&.active {
					background-color: #f3f4f6;
				}
			}
		}
	}

	&__questions {
		width: 100%;
		& .header {
			font-weight: 900;
			font-size: x-large;
			color: #2b4b79;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding: 20px 0 20px 0;
		}
	}
}
