.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.4);
  z-index: 2345;

  & .modalLarge {
    min-width: 70%;
    max-height: 90%;
  }

  & .modalSmall {
    min-width: 50%;
    max-height: 90%;
  }

  & .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-width: 250px;
    max-width: 100%;
    max-height: 80vh;
    overflow: scroll;
    margin-top: 42px;

    &::-webkit-scrollbar {
      display: none;
    }

    & .header {
      position: absolute;
      background-color: white;
      left: 32px;
      right: 16px;
      top: 0;
      padding: 16px 0 16px;
      font-family: "Sofia Pro Bold";
      font-size: calc(2px + 20px);
      color: #2c3f58;
      margin-bottom: 30px;
      z-index: 123;
    }

    & .declaration {
      font-family: "Sofia Pro";
      font-size: calc(2px + 15px);
      color: #2c3f58;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 77px;
    }

    & .content {
      margin-bottom: 77px;
      width: 100%;
    }

    & .buttons {
      position: absolute;
      left: 16px;
      background-color: white;
      right: 16px;
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 16px;
    }
  }
}
