.JobApplication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 80px;

  & .cards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    & .CVs {
      width: 100%;
    }
  }

  & .selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 80px;
  }
}
