.jobApplication {
	margin-top:80px;
	margin-bottom:80px;

	&__cards {
		width: 100%;

		&__CVs {
			width: 100%;
			margin-bottom:30px;
		}
	}

	&__selection {
		display: flex;
    	flex-direction: column;
	}
}
