.login {
    display: flex;
    width: 100%;
	border-radius: 10px;
	justify-content: center;
}

.loginWrapper{
	display: flex;
	align-items: center;
	background-color: #f6f8fa;
	flex: 1;
}
.footerSection2{
	background-color: #f6f8fa;
}
