.cvRightBox{
	width: 100%;
	padding: 20px;
	border: 1px solid #efefef;
	border-radius: 12px;
	&__link{
		font-family: "Sofia Pro Bold";
		font-size: calc(2px + 15px);
		font-weight: bolder;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: 0.3px;
		color: #2c3f58;
	}
	div{
		margin-bottom: 30px;
	}
}

.CVs {
  width: 100%;
}
.buttonsCV {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 8px;
  right: 32px;
  left: 32px;
}
.profileSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link_text{
  color:#1459b4 ;
  cursor: pointer;
}
.rightBar{
	width: 100%;
	padding: 32px 16px;
	border-radius: 16px;
	background-color: #ffffff;
	border: 1px solid #efefef;
}
.buttonRow{
	span{
	    font-family: "Sofia Pro Bold";
	    font-size: calc(2px + 16px);
	    color: #2c3f58;
	    margin-bottom: 8px;
	}
	margin-bottom:20px;
	border-bottom:1px solid #ececee;
	padding-bottom:20px;
}
.progress{
	display: flex;
	justify-content: space-between;
}


.cvrow{
	position: relative;
	padding: 16px 32px;
	margin-top:25px;
	border: 1px solid #efefef;
	border-radius: 12px;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.cvDetail{
	margin-top:80px;
	margin-bottom: 80px;
	&__profileSection {
	 	margin-bottom:30px;
	}
}

.cvList{
	margin-top:80px;
	margin-bottom: 80px;
	&__cvrow{
		position: relative;
		padding: 16px 32px;
		margin-bottom:25px;
		border: 1px solid #efefef;
		border-radius: 12px;
		background: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__cvrow_title{
		font-family: "Sofia Pro Bold";
		font-size: calc(2px + 15px);
		font-weight: bolder;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: 0.3px;
		color: #2c3f58;
	}
	&__profileSection {
	 	margin-bottom:30px;
	}
}
