.cvs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 80px;

  & .cards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    & .CVs {
      width: 100%;

      & .buttonsCV {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 8px;
        right: 32px;
        left: 32px;
      }
    }

    & .profileSection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
