@import "../../helpers/responsiveBreakpointsMixins.scss";

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -31px 0 0 0;
  width: 100vw;
  height: 354px;

  @include x-large {
    height: 500px;
  }

  &.backgroundImage {
    margin: -31px 0 0 -64px;

    @include x-large {
      background-repeat: round;
      background-size: cover;
      height: 500px;
    }

    @include medium {
      margin: -31px -64px 0 -64px;
    }

    @include small {
      margin: -31px -128px 0 -64px;
    }
  }

  & .userSection {
    z-index: 1;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #eee;
    margin-top: -32px;
    padding: 0 60px;
  }

  & .slogan {
    z-index: 1;
    font-family: "Sofia Pro Bold";
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #2c3f58;

    @include medium {
      text-align: center;
      font-size: calc(2px + 18px);
    }
  }

  & .subSlogan {
    z-index: 1;
    font-family: "Sofia Pro";
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #2c3f58;
    margin-top: 5px;

    @include medium {
      text-align: center;
      font-size: calc(2px + 16px);
    }
  }

  & .searchBars {
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-top: 24px;

    @include x-large {
      flex-direction: column;
      align-items: center;
    }

    & .keyword {
      z-index: 1;
      margin: 6px;

      & > div {
        -webkit-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        -moz-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
      }
    }
    & .location {
      z-index: 1;
      margin: 6px;

      & > div {
        -webkit-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        -moz-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
      }
    }

    & .findJob {
      z-index: 1;
      margin: 7px 0;
      width: fit-content;
    }
  }

  & .prepareCv {
    z-index: 1;
    font-family: "Sofia Pro";
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #2c3f58;
    margin-top: 16px;

    & a {
      color: #484848;
    }

    & .underlined {
      font-family: "Sofia Pro Bold";
      font-weight: 900;
      z-index: 1;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & .searches {
    z-index: 1;
    width: 75%;
    margin-top: 32px;
    height: fit-content;
    text-align: center;

    & .searchedWord {
      z-index: 1;
      font-family: "Sofia Pro";
      cursor: pointer;
      display: inline-block;
      font-size: calc(2px + 12px);
      color: #646464;
      padding: 6px 12px;
      margin: 4px;
      width: fit-content;
      max-width: 150px;
      background-color: rgba(43, 73, 112, 0.07);
      border-radius: 30px;
      text-align: center;
      list-style-type: none;
    }
  }
}

.advancedSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & .advancedSearch__button {
    text-decoration: none;
    border-bottom: 1px #000 solid;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  & .advancedSearch__button:hover {
    transform: scale(1.15);
  }
}

.advancedSearchDropdown {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(24, 26, 27, 0.548);
  top: 0;
  @media (max-width: 992px) {
    align-items: center;
  }

  & .advancedSearchDropdown__inputs {
    position: relative;
    width: 60vw;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: white;

    @media (max-width: 576px) {
      margin: auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      height: 100vh;
      width: 100vw;
      /* justify-content: center; */
      align-items: center;
      background-color: rgba(white, 0.8);
      top: 0;
      left: 0;

      /*       margin: auto;
 */
      overflow: auto;

      & .hidden_mobile {
        display: none;
      }
      & .only_mobile {
        display: block;
      }
    }
    @media (min-width: 576px) and (max-width: 1100px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      height: 100vh;
      width: 100vw;
      overflow: scroll;
      background-color: rgba(white, 0.8);
      top: 0;
      left: 0;
      & .hidden_mobile {
        display: none;
      }
      & .only_mobile {
        display: block;
      }
    }
    @media (min-width: 1100px) {
      margin-left: auto;
      width: 50vw;
      & .only_mobile {
        display: none;
      }
    }

    & .close_icon {
      position: fixed;
      top: 0%;
      left: 0%;
      width: 50px;
      height: 50px;
      cursor: pointer;

      & img {
        height: 100%;
      }
    }

    & div {
      margin-left: auto;
      margin-right: auto;
    }

    & .advancedSearch__two-inputs-wrapper {
      margin-top: 8px;
      margin-bottom: 8px;
      & label {
        font-family: "Sofia Pro Bold";
        font-size: calc(2px + 12px);
        font-weight: 700;
        color: #2c3f58;
        letter-spacing: 0.5px;
        padding: 0 1px;
      }
      & .advancedSearch__two-inputs {
        width: 268px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;

        & .advancedSearch__input-wrapper {
          & .advancedSearch__description {
            font-family: "Sofia Pro";
            font-size: calc(2px + 10px);
            font-weight: 700;
            letter-spacing: 0.5px;
            padding: 0 1px;
            margin: 4px 0 0;
          }

          & .advancedSearch__input {
            max-width: 134px !important;
            border-radius: 4px;
            border: 1px solid #d6dfea;
            outline: none;
            padding: 12px 16px;
            margin: 8px 0 0;
            background-color: white;

            & input {
              outline: none;
              border: none;
              margin: 0;
              padding: 0;
              background: transparent;
              color: #2c3f58;
              font-size: calc(2px + 12px);
              width: 100%;

              &::placeholder {
                color: #afb8c3;
                font-size: calc(2px + 11px);
              }
              &::-moz-placeholder {
                color: #afb8c3;
                font-size: calc(2px + 11px);
              }
              &::-ms-input-placeholder {
                color: #afb8c3;
                font-size: calc(2px + 11px);
              }
              &::-webkit-input-placeholder {
                color: #afb8c3;
                font-size: calc(2px + 11px);
              }
            }
          }
        }
      }
    }
  }

  & .advancedSearch__send-button {
    grid-column: 1 / span 2;
  }
}
