.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;

  & .userSection {
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #eee;
    margin-top: -32px;
    padding: 0 60px;
  }

  & .slogan {
    font-family: "Noto Sans Bold";
    font-size: 24px;
    color: #2b4970;
  }
  & .subSlogan {
    font-family: "Noto Sans";
    font-size: 22px;
    margin-top: 5px;
    color: #2b4970;
  }
  & .searchBars {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-top: 24px;

    & .keyword {
      margin: 6px;
      width: 37%;
      & > div {
        -webkit-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        -moz-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
      }
    }
    & .location {
      margin: 6px;
      width: 37%;
      & > div {
        -webkit-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        -moz-box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
        box-shadow: 0px 43px 45px 0px rgba(43, 73, 112, 0.1);
      }
    }

    & .findJob {
      margin: 7px 0;
      width: fit-content;
    }
  }

  & .prepareCv {
    font-family: "Noto Sans";
    font-size: 10px;
    color: #484848;
    margin-top: 16px;

    & a {
      color: #484848;
    }

    & .underlined {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & .cities {
    width: 75%;
    margin-top: 32px;
    height: fit-content;
    text-align: center;

    & .city {
      font-family: "Noto Sans";
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      color: #646464;
      padding: 6px 12px;
      margin: 4px;
      width: fit-content;
      max-width: 150px;
      background-color: rgba(43, 73, 112, 0.07);
      border-radius: 30px;
      text-align: center;
      list-style-type: none;
    }
  }
}
