@import "../../helpers/responsiveBreakpointsMixins.scss";

.accordion {
  width: 100%;
  background-color: #f6f8fa;
  padding: 5rem 10rem;

  @include medium {
    padding: 5rem 5rem;
  }
  @include small {
    padding: 5rem 1rem;
  }
}
.internyUseCounter {
  font-size: 36px;
  color: #2b4970;
  font-family: "Sofia Pro Bold";
  padding: 3rem 0 2rem 0;
}

.Campaign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f6f8fa;
  & .SummerIntershipTitle {
    margin: 20px 0;
    color: #2b4970;
    font-family: "Sofia Pro Bold";
  }
  & .CampaignWrapper {
    width: 1113px;
    @include x-large {
      width: 95%;
    }
    & .getPadding {
      padding: 0 2rem;
      @include small {
        padding: 0;
      }
    }
    & .CampaignBranding {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      height: 234px;
      background-image: url("../../assets/campaign_header.png");
      @include medium {
        justify-content: flex-end;
      }

      & .CampaignBrandingTitle {
        z-index: 2;
        font-family: "Sofia Pro Bold";
        font-size: 72px;
        margin-bottom: -25.4px;
        color: #2b4970;
        @include medium {
          font-size: 52px;
          margin-bottom: -18px;
          text-align: end;
        }
        @include small {
          font-size: 36px;
          margin-bottom: -13px;
          text-align: end;
        }
      }
    }
    & .campaignRow {
      display: flex;
      @include medium {
        flex-direction: column;
      }
      & .positionRight {
        display: flex;
        justify-content: flex-end;
      }
      & img {
        width: 400px;
        height: 400px;
        @include small {
          width: 300px;
          height: 300px;
        }
      }
      & .campaignCard {
        display: flex;
        justify-content: center;
        margin-top: 100px;
      }
      & .SummerInternshipButton {
        padding: 0 32px;
        height: 40px;
        transition: 0.3s;
        border-radius: 24px;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        font-family: "Sofia Pro Bold";
        background: #dd5454;

        &:hover {
          background: #c04040;
        }
      }
    }
    & .RowReverse {
      flex-direction: row-reverse;
      @include medium {
        flex-direction: column;
      }
    }

    & h2 {
      font-size: 20px;
      @include medium {
        text-align: center;
      }
    }
    & p {
      @include medium {
        text-align: center;
      }
    }
  }
  & .responsiveCenter {
    @include medium {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  & .flexOne {
    flex: 1;
    text-align: justify;
  }
}
