.Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8px;

  & .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;

    & .sectionTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Noto Sans Bold";
      font-size: calc(2px + 16px);
      color: #2b4970;
      padding: 0 0 15px;
      margin-bottom: 20px;
      border-bottom: 2px solid rgba(#2b4970, 0.065);
      width: 100%;
    }
    & .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      & .itemImage {
        width: 42px;
        height: 42px;
        padding: 4px;
        border-radius: 12px;
        border: 1px solid #eee;
        margin-right: 20px;

        & img {
          width: 100%;
          height: 100%;
        }
      }
      & .itemDetail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        & .itemTitle {
          font-family: "Noto Sans Bold";
          font-size: calc(2px + 15px);
          font-weight: bolder;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 0.3px;
          color: #000;
          margin-bottom: 8px;
        }
        & .itemLocation {
          font-size: calc(2px + 15px);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.28px;
          color: #484848;
          margin-bottom: 8px;
        }
        & .itemDate {
          font-size: calc(2px + 13px);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.24px;
          color: #949494;
        }
      }
      & .itemButtons {

      }
    }
  }
}
