.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 80px;
  z-index: 12;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#2b4970),to(#6588b5));
  background-image: linear-gradient(#2b4970 10%,#6588b5);
}
