@import '../../helpers/responsiveBreakpointsMixins.scss';

.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 80px;
  z-index: 12;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #2b4970), to(#6588b5));
  background-image: linear-gradient(#2b4970 10%, #6588b5);

  & .logo {
    height: 40px;
    width: 40px;
    margin: 20px auto 0;

    & img {
      height: 40px;
    }
  }
}

.hamburgerMenu {
  // display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  transition: width 0.5s;
  background-color: white;
  -webkit-box-shadow: -20px 0px 11px -25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 0px 11px -25px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 0px 11px -25px rgba(0, 0, 0, 0.75);

  @include small {
    width: 0;
  }

  &>img {
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 8px;
    width: 32px;
  }
}