@import '../../helpers/responsiveBreakpointsMixins.scss';

.footerSection {
	width: 100%!important;
	background-color: #2c3f58;
	padding-top: 40px;
	padding-bottom: 1px;

	.rightSide {
		display: flex;
		flex-direction: column;
	}

	&__languages {
		display: flex;
		justify-content: center;
		align-items: center;

		& .selectWrapper {
			display: flex;
			height: 40px;
			padding: 0 10px;
			border-radius: 5px;
			border: solid 1.5px;
			border-color: white;

			& img {
				color: white;
				width: 20px;
				margin-right: 20px;
			}

			& select {
				background: none;
				height: 40px;
				color: white;
				width: 100px;
				border-radius: 5px;
				border-color: white;
				cursor: pointer;
				border: none;
				outline: none;

				& option {
					width: 100px;
					height: 50px;
					color: black;
				}
			}
		}
	}

	&__stores {
		flex: 1;
		display: flex;
		margin-top: 20px;
		flex-direction: column;
		position: relative;
		align-items: center;
		justify-content: space-around;
		min-height: 150px;

		&__store {
			height: 45px;

			& img {
				height: 100%;
				margin: 0;
			}
		}
		&__storePlay {
			height: 45px;
			& img {
				height: 100%;
				margin: 0;
			}
		}
	}
	&__companyDescription {
		width: 100%;
		@include large {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		& img {
			height: 45px;
			margin-bottom: 20px;
			@include large {
				margin-bottom: 36px;
			}
		}

		&__description {
			font-family: "Sofia Pro";
			font-size: calc(2px + 12px);
			color: #fff;
			list-style-type: none;
			line-height: 1.5em;
			letter-spacing: 0.1px;

			@include large {
				font-size: calc(2px + 12px);
			}

			@include large {
				text-align: center;
			}
		}
	}
	&__options {

		.row {
			width: 100%;
		}

		@include x-large {
			margin: 2rem 0;
		}

		ul {
			margin: 0;
			padding: 0;
			@include medium {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 24px 0;
			}
			& a {
				text-decoration: none;
				color: white;
			}
		}
		& li {
			color: #fff;
			list-style-type: none;
			cursor: pointer;
			font-size: 1.2rem;
			line-height: 2.4rem;
			padding: 2.5px 0;
			text-align: center;
			letter-spacing: normal;

			@include small {
				font-size: calc(2px + 12px);
				line-height: calc(2px + 12px);
			}

			& a {
				color: #fff;
			}

			&:hover {
				font-family: "Sofia Pro Bold";
			}
		}
	}
	& .footerTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@include large {
			align-items: center;
			flex-direction: column;
		}
	}
	&__stroke {
		height: 1px;
		background-color: #e0e0e0;
		width: 100%;
		margin-top:2rem;
		margin-bottom:1rem;
	}

	&__rights {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-family: "Sofia Pro";
		font-size: calc(2px + 12px);
		color: #fff;
		list-style-type: none;
		line-height: 1.5em;
		letter-spacing: 0.1px;
		margin-bottom: 20px;
		@include medium {
			text-align: center;
		}
		&__followUs {
			display: flex;
			justify-content: center;
		    align-items: center;
			& img {
				width: 15px;
				margin: 0 20px;
			}
		}
	}
}
