@import "../../../../helpers/responsiveBreakpointsMixins.scss";

.authWrapper {
	border: 1px solid #efefef;
    border-radius: 12px;
	.hide{
		display: none;
	}
	border-radius: 10px;
	& .imgContainer {
		@include medium {
			display: none;
		}
	  	max-width: 100%;
		height: 100%;
	  	& .shadow {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			z-index: 1;
			width: 100%;
      height:100%;
      min-height: 500px;
			overflow: hidden;
			background-size:cover;
			background-position: center center;
			&.intern{
				background-image: url("../../../../assets/login.png");
			}
			&.employer{
				background-image: url("../../../../assets/company.jpg");
			}
			&.university{
				background-image: url("../../../../assets/university.jpg");
			}
			& img {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				height: 100%;
				width: 100%;
			}

			& .employerBackground {
				margin-left: -300px;
			}

			& .universtyBackground {
				margin-left: -300px;
			}
	  	}
	}
  & .switchButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #2c3f58;
    font-family: "Sofia Pro";
    font-size: calc(2px + 12px);
    margin-top: 20px;

    & .switchButton {
      cursor: pointer;
      padding: 8px 96px;

      border: 1px solid #efefef;

      @include x-large {
        padding: 8px 72px;
      }

      @include large {
        padding: 8px 56px;
      }

      @include medium {
        font-size: calc(2px + 10px);
        padding: 8px 40px;
      }

      &:hover {
        background-color: #2c3f58;
        color: white;
      }

      &.internButton {
        border-right: 0.5px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.employerButton {
        border-left: 0.5px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.activeButton {
        background-color: rgba(#bbb, 0.2);

        &:hover {
          background-color: rgba(#2c3f58, 0.8);
          color: white;
        }
      }
    }
  }

  & .authHeader {

    & .headerText {
      margin: 32px 0 8px;
      font-family: "Sofia Pro Bold";
      font-size: calc(2px + 24px);
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.17px;
      color: #2c3f58;
      text-align: center;

      @include medium {
        font-size: calc(2px + 20px);
      }
    }

    & .description {
      font-family: "Sofia Pro";
      font-size: calc(2px + 14px);
      text-align: center;

      @include medium {
        font-size: calc(2px + 12px);
      }
    }
  }

  & .authButtonContainer {

    & .authButton {
      border: 1px solid #2c3f58;
      cursor: pointer;
      color: #2c3f58;
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 10px 12px;
      margin: 32px 0 16px;
      text-align: center;
      justify-content: center;
      font-size: calc(2px + 12px);

      @include small {
        font-size: calc(2px + 10px);
      }

      -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);

      &:hover {
        background-color: #3A559F;
        color: white;
      }

      &:active {
        background-color: rgba(#3A559F, 0.8);
        color: white;
      }

      & .facebookIcon {
        position: absolute;
        left: 10px;
        width: 20px;

      }

      & .googleIcon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
      }

    }

    & .google {
      &:hover {
        background-color: white;
        color: #EA4335;
        border-color: #EA4335
      }
    }

    & .facebook {}
  }

  & .inputsContainer {
    & >button {
      padding: 0;
      margin: 0;
      text-decoration: underline;
    }


  }

  & .saveButtonContainer {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 32px;

    & button {
      margin-right: 0;

      @include small {
        font-size: calc(2px + 10px);
      }
    }
  }



  &.login {

    & .authHeader {

      margin: 0 0 32px;

      & .headerText {
        text-align: start;
      }

      & .description {
        text-align: start;
      }
    }



    & .authButtonContainer {


      & .authButton {
        margin: 0 0 32px;
      }
    }


    & .info {
      position: absolute;
      right: 32px;
      top: 16px;
      width: 20px;
      height: 20px;
      cursor: pointer;

      & img {
        width: 100%;
      }

      &:hover {
        & .mutedText {
          display: inline-block;
        }
      }

      & .mutedText {
        display: none;
        position: absolute;
        border: 2px solid #eee;
        border-radius: 16px;
        background-color: rgba(#fff, 0.9);
        width: 500px;
        color: #484848;
        top: 32px;
        right: 0;
        padding: 16px;
        font-family: "Sofia Pro";
        font-size: 14px;
        font-weight: lighter;

        word-wrap: break-word;

        @include x-large {
          width: 500px;
        }

        @include large {
          width: 500px;
        }

        @include medium {
          width: 250px;
        }

        @include small {
          width: 200px;
        }

      }
    }
  }
}

.advancedSearchDropdown {

	width: 100%;
	padding: 25px;
	.row{
		margin-bottom:30px;
	}
  & .backButton {

    cursor: pointer;
	position:absolute;
	left:25px;
	top:25px;
    & img {
      width: 50px;
      height: 50px;
    }
  }
  & .arow {
	windows: 100%;

	&.header {
	  color: #2c3f58;
	  font-size: large;
	  font-weight: 600;
	  border-bottom: 1px solid #2c3f5894;
	  align-self: center;
	  padding: 10px 0 10px 0;
	}

	&.big_header {
	  color: #2c3f58;
	  font-size: xx-large;
	  font-weight: 600;
	  align-self: center;
	  padding: 25px 0 25px 0;
	  text-align: center;
	}

	& .phoneInput {
	  position: relative;
	  cursor: text;
	  margin: 8px 0;
	  width: 268px;

	  & label {
		font-family: "Sofia Pro Bold";
		font-size: calc(2px + 12px);
		font-weight: 700;
		color: #2c3f58;
		letter-spacing: 0.5px;
		padding: 0 1px;
	  }

	  & .phoneInput__input {
		display: flex;
		outline: none;
		justify-content: center;
		align-items: center;
		background: #fff;
		border: 1px solid #d6dfea;
		border-radius: 4px;
		padding: 12px 16px;
		margin: 8px 0 0;

		& input {
		  outline: none;
		  border: none;
		  width: 200px;
		}
	  }
	}
  }
  & .advancedSearchDropdown__inputs {
    position: relative;
    width: 45vw;
    height: auto;
    display: flex;
    flex-direction: column;

    background-color: white;


  }


}

.modal_outer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.589);

  & .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;

    & .closeModalButton {
      cursor: pointer;
      position: relative;
      /* top: 10%; */
      left: calc(-30vw + 25px);
      width: 50px;
      height: 50px;

      & img {
        width: 50px;
        height: 50px;
      }
    }

    & .header {
      border-bottom: 1px solid #2c3f58;
      color: #2c3f58;
      height: 50px;
      position: relative;
      top: -25px;
      font-size: 24px;
      font-weight: bold;
    }

    & .content {
      height: 60vh;
      overflow-y: scroll;
      width: 90%;

        & .p1 {
          margin: 0.0px 0.0px 10.0px 0.0px;
          font: 11.0px Helvetica;
          color: #000000;
        }

        & .p2 {
          margin: 0.0px 0.0px 15.0px 0.0px;
          font: 26.0px Helvetica;
          color: #13284b;

          & .s1 {
            letter-spacing: 0.2px;
          }

          & .s2 {
            font: 11px Symbol;
          }

        }

        & .p3 {
          margin: 0.0px 0.0px 0.0px 0.0px;
          font: 13.0px Helvetica;
          color: #3f6caf;
        }

        & .p4 {
          margin: 0.0px 0.0px 10.0px 36.0px;
          font: 11.0px Helvetica;
          color: #000000;
        }

        & .p5 {
          margin: 0.0px 0.0px 0.0px 0.0px;
          font: 11.0px Helvetica;
          color: #3f6caf;
        }


      & .ul1 .li1 {
        margin: 0.0px 0.0px 10.0px 0.0px;
        font: 11.0px Helvetica;
        color: #000000;
      }


      & .ul1 {
        list-style-type: disc;
      }


      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
      }

      &::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px solid #ffffff;
        border-radius: 71px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb:active {
        background: #000000;
      }

      &::-webkit-scrollbar-track {
        background: #666666;
        border: 0px solid #ffffff;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-track:hover {
        background: #666666;
      }

      &::-webkit-scrollbar-track:active {
        background: #333333;
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }
  }
}
