.packagesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;

  & .packagesTitle {
    font-family: "Noto Sans Bold";
    font-size: calc(2px + 24px);
    color: #2b4970;
  }
  & .packagesSubTitle {
    font-family: "Noto Sans";
    font-size: calc(2px + 18px);
    margin-top: 5px;
    color: #484848;
  }
  & .packagesCards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    & .packageCard {
      width: 165px;
      padding: 24px 0;
      & .headerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .packageTitle {
          font-family: "Noto Sans Bold";
          font-size: calc(2px + 16px);
          color: #000;
          margin-bottom: 4px;
        }
        & .packagePrice {
          font-family: "Noto Sans Bold";
          font-size: calc(2px + 40px);
          color: #000;
        }
        & .packagePaymentDate {
          font-family: "Noto Sans";
          font-size: calc(2px + 10px);
          color: #868686;
          font-style: italic;
        }
      }
      & .stroke {
        height: 1px;
        background-color: #efefef;
        margin: 20px 0;
      }
      & .descriptionDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .packageDescription {
          text-align: center;
          font-family: "Noto Sans";
          font-size: calc(2px + 10px);
          color: #868686;
          margin-bottom: 20px;
          line-height: 2em;
          letter-spacing: 0.1px;
        }
      }
    }

    & .frontier {
      margin-bottom: 50px;
    }
  }
}
