@import '../../helpers/responsiveBreakpointsMixins.scss';

.packagesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;

  & .packagesTitle {
    font-family: "Sofia Pro Bold";
    font-size: calc(2px + 24px);
    color: #2c3f58;
  }
  & .packagesSubTitle {
    font-family: "Sofia Pro";
    font-size: calc(2px + 18px);
    margin-top: 5px;
    color: #484848;
  }
  & .packagesCards {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


    @include medium{
      flex-direction: column;
    }


    & .packageCard {
      width: 165px;
      padding: 24px 0;
      cursor: pointer;

      & .headerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .packageTitle {
          font-family: "Sofia Pro Bold";
          font-size: calc(2px + 16px);
          color: #000;
          margin-bottom: 4px;
        }
        & .packagePrice {
          font-family: "Sofia Pro Bold";
          font-size: calc(2px + 40px);
          color: #000;
        }
        & .packagePaymentDate {
          font-family: "Sofia Pro";
          font-size: calc(2px + 10px);
          color: #868686;
          font-style: italic;
        }
      }
      & .stroke {
        height: 1px;
        background-color: #efefef;
        margin: 20px 0;
      }
      & .descriptionDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .packageDescription {
          text-align: center;
          font-family: "Sofia Pro";
          font-size: calc(2px + 10px);
          color: #868686;
          margin-bottom: 20px;
          line-height: 2em;
          letter-spacing: 0.1px;
        }
      }
    }

    & .frontier {
      &:hover {
        margin-top: -50px;
      }
    }
  }
}
