.landingPageSearch {
	margin-top:80px;
	&__filter{
		padding: 20px;
		border: 1px solid #efefef;
		border-radius: 12px;
		margin-bottom:50px;
	}
	&__noResult {
		width: 100%;
		font-family: "Sofia Pro Bold";
		font-size: calc(2px + 20px);
		text-align: center;
		color: #2c3f58;
	}
	&__description {
		font-family: "Sofia Pro";
		font-size: calc(2px + 14px);
		margin: 12px;
		color: #2c3f58;
	}
	&__buttonContainer {
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
	}
}
