.LandingPageSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .noResult {
    font-family: "Noto Sans Bold";
    font-size: calc(2px + 20px);
    margin: 50px;
    text-align: center;
    color: #2b4970;

    & .description {
      font-family: "Noto Sans";
      font-size: calc(2px + 14px);
      margin: 12px;
      color: #2b4970;
    }
  }
  & .buttonContainer {
    margin-bottom: 40px;
  }
}
