.dropDownHeader {
  width: 100%;
  font-size: calc(2px + 16px);
  font-family: "Noto Sans Bold";
  list-style: none;
  color: #2b4970;
  border-radius: 4px;
  padding: 6px 8px;
}

.dropDownWrapper {
  position: relative;
  margin: 0;
  padding: 0;

  & li, a {
    display: flex;
    font-family: "Noto Sans";
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: calc(2px + 12px);
    list-style: none;
    color: #484848;
    border-radius: 4px;
    padding: 6px 8px;
    margin: 2px 0;

    &:hover {
      background-color: rgba(#2b4970, 0.08);
      color: #2b4970;
      font-weight: 100;

      & .icon {
        background-color: transparent;
      }
    }
    &.selected {
      background-color: rgba(#2b4970, 0.08);
      color: #2b4970;

      & .icon {
        background-color: transparent;
      }
    }

    & .messageContainer {
      display: flex;
      flex-direction: column;

      & .title {
        font-family: "Noto Sans Bold";
      }
    }


    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      padding: 5px;
      background-color: rgba(#2b4970, 0.08);

      &.read {
        height: 0.2px;
        width: 0.2px;
        background-color: #2b4970;
        margin-left: 20px;
      }

      & > img {
        width: 100%;
      }
    }
  }
}
