.jobDetail {
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: calc(60vw);
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 0 32px;

  & .postHeaderWrapper {
    display: flex;
    grid-column: span 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .postHeader {
      font-family: "Noto Sans Bold";
      font-size: calc(2px + 15px);
      font-weight: bolder;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.3px;
      color: #2b4970;
      grid-column: span 2;
    }
    & .postDate {
      font-size: calc(2px + 12px);
      font-weight: lighter;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.24px;
      color: #949494;
      grid-column: span 1;
      margin-right: 6px;
    }
  }
  & .postCompany {
    display: flex;
    font-size: calc(2px + 13px);
    margin: 4px 0 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.28px;
    color: #2c567e;
    width: calc(100% - 124px);
    grid-column: span 2;

    & img {
      height: 18px;
      width: 11px;
      margin-right: 4px;
    }
  }
  & .postButton {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    grid-column: span 1;
    grid-row: span 10;
    margin-left: auto;
  }
  & .postDescription {
    font-family: "Noto Sans Bold";
    margin: 35px 0 5px;
    font-size: calc(2px + 13px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.24px;
    color: #484848;
    width: calc(55vw - 124px);
    grid-column: span 2;
  }
  & .postNote {
    margin: 12px 0 0;
    font-size: calc(2px + 13px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.24px;
    color: #484848;
    width: calc(100% - 124px);
    grid-column: span 2;
  }
}
