@import './helpers/responsiveBreakpointsMixins.scss';

.App {
  background-color: #fbfbfb;
  width: calc(100% - 208px);
  height: calc(100% - 144px);
  padding: 112px 64px 32px 144px;
  position: relative;

  &.fullScreen {
    width: unset;
    padding: 112px 64px 32px 64px;

    // @include small {
    //   padding: 112px 5% 32px 5%;
    // }

  }

  & .temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & a {
    text-decoration: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #2b4970 !important;
  }
}