@font-face {

  font-family: 'Noto Sans Bold';

  font-style: normal;

  font-weight: 400;

  src: url('./assets/NotoSans-Bold.ttf'); /* IE9 Compat Modes */

  src: local('Noto Sans Bold'), local('NotoSans-Bold'),

  url('./assets/NotoSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */

}

@font-face {

  font-family: 'Noto Sans';

  font-style: normal;

  font-weight: 400;

  src: url('./assets/NotoSans-Regular.ttf'); /* IE9 Compat Modes */

  src: local('Noto Sans'), local('NotoSans'),

  url('./assets/NotoSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */

}

body {
  margin: 0;
  font-family: "Noto Sans";
}

input, textarea {
  font-family: "Noto Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
