@font-face {
  font-family: "Sofia Pro";

  src: url("./assets/SofiaProRegular.ttf"); /* IE9 Compat Modes */

  src: local("Sofia Pro"), local("SofiaPro"),
    url("./assets/SofiaProRegular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Sofia Pro Bold";

  src: url("./assets/Sofia Pro Bold.ttf"); /* IE9 Compat Modes */

  src: local("Sofia Pro Bold"), local("SofiaProBold"),
    url("./assets/Sofia Pro Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: "Sofia Pro";
}

input,
textarea {
  font-family: "Sofia Pro";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2b4970;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #223a58;
}
::-webkit-scrollbar-thumb:active {
  background: #243347;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #d9d9d9;
}
::-webkit-scrollbar-track:active {
  background: #b3b3b3;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
