@font-face {

  font-family: 'Sofia Pro';

  src: url('./assets/SofiaProRegular.ttf'); /* IE9 Compat Modes */

  src: local('Sofia Pro'), local('SofiaPro'),

  url('./assets/SofiaProRegular.ttf') format('truetype'); /* Safari, Android, iOS */

}

@font-face {
  font-family: 'Sofia Pro Bold';

  src: url('./assets/Sofia Pro Bold.ttf'); /* IE9 Compat Modes */

  src: local('Sofia Pro Bold'), local('SofiaProBold'),

  url('./assets/Sofia Pro Bold.ttf') format('truetype'); /* Safari, Android, iOS */

}

body {
  margin: 0;
  font-family: "Sofia Pro";
}

input, textarea {
  font-family: "Sofia Pro";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
