@import '../../helpers//responsiveBreakpointsMixins.scss';

.conversationSearch {
  padding: 10px;
  display: flex;
  flex-direction: column;

  @include medium {
    display: none;
  }
}

.internList {
  @include medium {
    display: flex;
  }
}

.conversation-search-input {
  background: #f4f4f8;
  padding: 8px 10px;
  border: none;
  font-size: calc(2px + 14px);
}

.conversation-search-input::placeholder {
  text-align: center;
}

.conversation-search-input:focus::placeholder {
  text-align: left;
}
