@import '../../helpers/responsiveBreakpointsMixins.scss';

.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: absolute;
  width: calc(100% - 20px);
  bottom: 0px;


  & img {

    display: none;

    @include medium {
      color: #2b4970;
      display: block;
      position: absolute;
      right: 18px;
      top: 36px;
      width: 24px;
    }

    @include small {
      color: #2b4970;
      display: block;
      position: absolute;
      right: 25px;
      top: 32px;
      width: 24px;
    }
  }

}

.compose-input {
  flex: 1;
  border: none;
  font-size: calc(2px + 14px);
  height: 100%;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}