@import '../../helpers/responsiveBreakpointsMixins.scss';

.composee {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: absolute;
  width: 100%;
  bottom: 0px;


  & img {

	color: #2c3f58;
  	display: block;
  	width: 24px;
  }

}

.compose-input {
  flex: 1;
  border: none;
  font-size: calc(2px + 14px);
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}
