@import '../../helpers/responsiveBreakpointsMixins.scss';

.footerSection {
  width: 100vw!important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 64px 228px 0;
  width: calc(100%);
  background-color: #EFF2FC;

  @include medium {
    padding: 64px 0px 0;
  }


    & .options {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
        
      @include large {
        width: 65%;
      }

      @include medium {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }

      & .links{
          flex-direction: row;

          @include medium {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
          }

        & .dot{
            height: 2px;
            width: 2px;
            background-color: black;
            border-radius: 50%;
            display: inline-block;
        }
      }

      @include large {
        width: 65%;
      }

      @include medium {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      ul {
        margin: 0;
        padding: 0;

        @include medium {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 24px 0;
        }

        & a {
          text-decoration: none;
          color: black;
        }

      }


      & li {
        color: #fff;
        list-style-type: none;
        cursor: pointer;
        font-size: calc(2px + 14px);
        padding: 2.5px 0;
        text-align: center;
        letter-spacing: normal;
        width: 120px;
        display: inline;
        margin-right: 1rem;

        & a {
          color: black;
        }

        @include small {
          font-size: calc(2px + 12px);

        }

        &:hover {
          font-family: "Sofia Pro Bold";
        }
      }
    }




  & .stroke {
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 40px 0 20px;
  }

  & .rights {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Sofia Pro";
    font-size: calc(2px + 12px);
    color: black;
    list-style-type: none;
    line-height: 1.5em;
    letter-spacing: 0.1px;
    margin-bottom: 20px;

    @include medium {
      text-align: center;
    }

    & .followUs {
      display: flex;
      justify-content: center;

      & img {
        width: 15px;
        margin: 0 20px;
      }
    }



  }
}