.card {
  border-bottom: 1px solid #e0e2f1 !important;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  & .toggler {
    outline: none;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &:hover:active {
      background: transparent;
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
    & .button_title {
      justify-self: flex-start;
      font-weight: 700;
      font-size: medium;
      color: #2b4b79;
      letter-spacing: 0.5px;
    }
    & .button_icon {
      justify-self: flex-end;
      height: 25px;
      transition: 0.3s linear;
      &.active {
        transform: rotateZ(45deg);
      }
    }
  }

  & .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
    padding: 0 6px;
    border: 0 !important;
    background-color: transparent !important;
    &.active {
      max-height: 500px;
    }
  }
}
