.message {
  display: flex;
  flex-direction: column;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: calc(2px + 12px);
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: calc(2px + 14px);
  display: flex;
}

.message.mine .bubble-container {
  justify-content: flex-end;
}
.message.not-mine .bubble-container {
  justify-content: flex-start;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
  max-width: 45%;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
  max-width: 45%;
}

.message.mine.start .bubble-container .bubble {
  position: relative;
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  position: relative;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .message-avatar {
  border-radius: 10% !important;
  width: 50px;
  height: auto;
  padding-right: 15px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  & .tinyTime {
    position: absolute;
    font-size: calc(2px + 12px);
    right: -44px;
    top: 12px;
  }
}

.message.mine .bubble-container .bubble {
  background: #007aff;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: relative;

  & .tinyTime {
    position: absolute;
    font-size: calc(2px + 12px);
    left: -44px;
    top: 12px;
    color: #2b4970;
  }
}

.message.not-mine .bubble-container .bubble {
  background: #a4b9c4;
}
