@import '../../helpers/responsiveBreakpointsMixins.scss';

.message {
  display: flex;
  flex-direction: column;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: calc(2px + 12px);
  margin: 10px 0px;
  text-transform: uppercase;

  @include medium {
    text-transform: none;
    font-size: calc(2px + 10px);
  }

  @include medium {
    font-size: calc(2px + 8px);
  }
}

.message .bubble-container {
  min-height: 50px;
  ;
  font-size: calc(2px + 14px);
  display: flex;

  @include medium {
    font-size: calc(2px + 12px);
  }

  @include small {
    font-size: calc(2px + 10px);
  }
}

.message.mine .bubble-container {
  justify-content: flex-end;
}


.message.not-mine .bubble-container {
  justify-content: flex-start;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
  max-width: 45%;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
  max-width: 45%;
}

.message.mine.start .bubble-container .bubble {
  position: relative;
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  position: relative;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .message-avatar {
  border-radius: 10%;
  width: 50px;
  height: auto;

  @include medium {
    border-radius: 50%;
  }

  margin-right: 15px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  @include medium {
    padding-bottom: 28px;

    ;
  }

  & .tinyTime {
    position: absolute;
    font-size: calc(2px + 12px);
    right: -44px;
    top: 12px;

    @include medium {
      right: unset;
      top: unset;
      bottom: 7px;
      font-size: calc(2px + 10px);
      color: rgb(97, 97, 97);
    }

    @include small {
      font-size: calc(2px + 8px);
    }
  }
}

.message.mine .bubble-container .bubble {
  background: #f0f0f8;
  color: #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: relative;

  & .tinyTime {
    position: absolute;
    font-size: calc(2px + 12px);
    left: -44px;
    top: 16px;
    color: #2b4970;

    @include medium {
      left: unset;
      top: unset;
      right: 16px;
      bottom: 7px;
      font-size: 12px;
      color: rgb(97, 97, 97);
    }

    @include small {
      font-size: calc(2px + 8px);
    }
  }
}

.message.not-mine .bubble-container .bubble {
  background: #f2f2f2;
}