.outer {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddee6;
    z-index: 1000;
  
    & .modal {
      width: fit-content;
      height: calc(fit-content + 100px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      background-color: white;
      & .header {
        font-family: "Sofia Pro Bold";
        color: #2c3f58;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
      }
  
      & .description {
        font-family: "Sofia Pro";
        color: #202e3b;
        text-align: center;
        margin-top: 15px;
        width: 80%;
      }
  
      & .input_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        width: 80%;
        margin-bottom: 30px;
  
        & .label {
          align-self: flex-start;
          margin-top: 25px;
          font-weight: 600;
          color: #202e3b;
        }
  
        & .input_field_wrapper {
          cursor: text;
          border-radius: 5px;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 15px;
          border: 1px #e2e4f2 solid;
          & .input {
            align-self: center;
            width: 90%;
            border-radius: 5px;
            outline: none;
            border: transparent;
            padding: 10px 0 10px 0;
          }
        }
  
        & .button {
          align-self: flex-end;
          border-radius: 5px;
          margin-top: 25px;

          & .referrenceButton{
            border-radius: 12px;
            box-sizing: unset;
            border: none;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 6px;
            font-family: "Sofia Pro";
            background-color: #f97050;
            color: #fff;
            border: solid 1px transparent;
            padding: 8px 24px;
            font-size: 12px;
          }
        }
      }
    }
  }
  